  <div class="col-md-8">
    <div class="col-md-6 form-group">
      <label class="control-label">Name:</label>
      <input type="text" class="form-control" ng-model="teamInstance.name" ng-require/>
    </div>
    <div class="col-md-6 form-group">
      <label class="control-label">Best results:</label>
      <input type="text" class="form-control" ng-model="teamInstance.bestResults" ng-require/>
    </div>
  </div>
  <div class="col-md-8">
    <div class="col-md-12 form-group">
      <label class="control-label">Pilots:</label>
      <ng-group-items items="pilots" selected-items="teamInstance.pilots" name="name" id="_id"></ng-group-items>
    </div>
  </div>


  <div class="col-md-8 form-actions top-separator">
    <button type="button" class="btn btn-primary actions-btn" ng-click="changeTeam()"
            ladda="isSavingTeam" data-style="expand-right"
            uib-tooltip="Save data changes" tooltip-placement="bottom">
      <i class="glyphicon glyphicon-save"> Save</i>
    </button>
    <button type="button" class="btn btn-primary actions-btn" ng-really-do="discardChanges()" ng-really-message="are you sure you want to discard the changes?"
            uib-tooltip="Discard changes" tooltip-placement="bottom">
      <i class="glyphicon glyphicon-arrow-left"></i>
      Discard Changes
    </button>

    <button type="button" class="btn btn-primary actions-btn"
            ladda="isDeletingJudge" data-style="expand-right"
            ng-really-do="deleteTeam()"
            ng-really-message="Are you sure you want to delete the team: {{teamInstance.name}}?" >
      <i class="glyphicon glyphicon-minus-sign"></i>
      Delete
    </button>
  </div>
