<div class="modal-header">
  <h3 class="modal-title">Add a new Run</h3>
</div>
<form name="frmAddRun" class="form-horizontal" novalidate role="form" ng-submit="addRun()">
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12 form-group">
        <div class="col-md-6">
          <label class="control-label">Competition:</label>
          <div ng-show="selectedCompetition">
            <input type="text" class="form-control" ng-model="selectedCompetition.name" ng-readonly="true"/>
          </div>
          <div ng-hide="selectedCompetition"  ng-class="{ 'has-error' : frmAddRun.runCompetition.$invalid && !frmAddRun.runCompetition.$pristine }">
            <select class="form-control" ng-model="newRun.competition" data-placeholder="Select a competition" name="runCompetition"
                    required>
              <option value="">Select a competition</option>
              <option ng-repeat="competition in competitions" value="{{competition._id}}">{{competition.name}}</option>
            </select>
            <small ng-show="frmAddRun.runCompetition.$invalid && !frmAddRun.runCompetition.$pristine" class="help-block">
            Competition is required.
            </small>
          </div>
        </div>
        <div class="col-md-6" ng-class="{ 'has-error' : frmAddRun.runName.$invalid && !frmAddRun.runName.$pristine }">
          <label class="control-label">Name:</label>
          <input type="text" class="form-control" placeholder="Type the run name" ng-model="newRun.name" name="runName"
                 required/>
          <small ng-show="frmAddRun.runName.$invalid && !frmAddRun.runName.$pristine" class="help-block">
            Run name is required.
          </small>
        </div>
      </div>
      <div class="col-md-12 form-group" ng-class="{ 'has-error' : frmAddRun.runCode.$invalid && !frmAddRun.runCode.$pristine }">
        <div class="col-md-6" >
          <label class="control-label">Code:</label>
          <input type="text" class="form-control" placeholder="Type the run code" ng-model="newRun.code" name="runCode"
                 ng-minlength="4" required/>
          <small ng-show="frmAddRun.runCode.$invalid && !frmAddRun.runCode.$pristine" class="help-block">
            Run code is required (too short, min length is 4).
          </small>
        </div>
        <div class="col-md-6" >
          <label class="control-label">Type:</label>
          <div>
            <ng-radio-button-group class="btn-group" data-toggle="buttons-radio" model="newRun.type" options="runTypes"
                                   id="idProperty" name="nameProperty" suffix="bootstrapSuffix">
            </ng-radio-button-group>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary actions-btn" ng-disabled="frmAddRun.$invalid">
      <i class="glyphicon glyphicon-save"> Save</i>
    </button>
    <button type="button" class="btn btn-primary actions-btn" ng-click="cancel()">
      <i class="glyphicon glyphicon-remove"> Cancel</i>
    </button>
  </div>
</form>
