

.picture-box{
  text-align: center;
  padding: 1em;
  background: @dark-separator-color;
}
.admin-picture{
  margin: .2em;
  padding: .2em;
  //  border: 1px solid @logo-color;
  width: 200px;
  height: 200px;
}

.browse-image{
  padding: .3em;
  background: @separator-color;
}
