<div class = "container" xmlns = "http://www.w3.org/1999/html" >
  <div class="col-md-12 entity-title">
    {{seasonInstance.name}}
    <div class="pull-right">
      <button type="button" class="btn btn-danger no-padding" ng-really-do="deleteSeason()"
              ng-really-message="Are you sure you want to delete the season: {{seasonInstance.name}}?">
        <i class="glyphicon glyphicon-minus-sign" uib-tooltip="Delete the season"></i>
        Delete
      </button>
      <button type="button" class="btn btn-danger no-padding" ng-really-do="resetSeason()"
              ng-really-message="Are you sure you want to reset the season: {{seasonInstance.name}}?">
        <i class="glyphicon glyphicon-exclamation-sign" uib-tooltip="Reset the season"></i>
        Reset
      </button>
    </div>
  </div>
  <div class="col-md-12">
    <uib-tabset>
      <uib-tab heading="Info">
        <div class="col-md-6">
          <div class="col-md-4 form-group">
            <label class="control-label">Name:</label>
            <input type="text" class="form-control" ng-model="seasonInstance.name" ng-require/>
          </div>
          <div class="col-md-4 form-group">
            <label class="control-label">Code:</label>
            <input type="text" class="form-control" ng-model="seasonInstance.code" ng-require/>
          </div>
          <div class="col-md-4 form-group">
            <label class="control-label">Is public:</label>
            <div>
              <ng-radio-button-group class="btn-group" data-toggle="buttons-radio" model="seasonInstance.isPublic"
                                     options="pubicOptions" id="idProperty" name="nameProperty" suffix="bootstrapSuffix">

              </ng-radio-button-group>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="col-md-12 form-group">
            <label class="control-label">Sponsors:</label>
            <ng-group-items items="sponsors" selected-items="seasonInstance.sponsors" name="name" id="_id"></ng-group-items>
          </div>
        </div>

        <div class="col-md-12 form-actions top-separator">
          <button type="button" class="btn btn-primary actions-btn" ng-click="changeSeason()"
                  ladda="isSavingSeason" data-style="expand-right"
                  uib-tooltip="Save data changes" tooltip-placement="bottom">
            <i class="glyphicon glyphicon-save"> Save</i>
          </button>

          <button type="button" class="btn btn-primary actions-btn"
                  ng-really-do="discardChanges()"
                  ng-really-message="are you sure you want to discard the changes?"
                  uib-tooltip="Discard changes" tooltip-placement="bottom">
            <i class="glyphicon glyphicon-arrow-left"></i>
            Discard Changes
          </button>
        </div>
      </uib-tab>
      <uib-tab heading="Events">
        <div class="col-md-12">
          <div class="region-box">
            <div class="region-box-title">
              <label><i class="glyphicon glyphicon-ok-circle"></i> Events</label>
              <a class="region-box-action" ng-click="openCreateEvent()">
                <i class="glyphicon glyphicon-plus" uib-tooltip="Create Event" tooltip-placement="top"></i>
              </a>
              <div class="region-box-spinner" ng-show="isLoadingEvents"> </div>
            </div>
            <div class="region-box-content">
              <ul class="list-group">
                <li class="list-group-item" ng-repeat="event  in seasonInstance.events">
                  <a ng-href="/admin/event/{{event._id}}">{{event.name}}</a>
                  <a ng-really-do="deleteEvent(event)" ng-really-message="Are you sure you want to delete the event: {{event.name}}?"
                     class="trash"><span class="glyphicon glyphicon-trash pull-right"></span></a>
                </li>
              </ul>
              <div class="separator"></div>
            </div>
          </div>
        </div>
      </uib-tab>
      <uib-tab heading="Settings">
        <ng-admin-settings setting-id= seasonInstance.settings></ng-admin-settings>
      </uib-tab>
      <uib-tab heading="Ranking">
        <div class="col-md-6">
          <div class="region-box">
            <div class="region-box-title">
              <label><i class="glyphicon glyphicon-list"></i> General Ranking Solo</label>
              <a ng-click="generateSoloRankingPDF()" class="region-box-action">
                <i class="glyphicon glyphicon-save padding"></i> PDF
              </a>
            </div>
            <div class="region-box-content">
              <div class="col-md-12">
                <ul class="list-group">
                  <li class="list-group-item" ng-repeat="result in seasonInstance.soloRanking">
                    <div class="row">
                      <div class="col-md-3">
                        {{$index+1}}- <label>{{result.competitor.name}}</label>
                      </div>
                      <div class="col-md-7">
                        <div class="col-md-3 text-right" ng-repeat="competitionResult in result.competitions">
                          <span ng-show="competitionResult.result !== null" uib-tooltip="{{competitionResult.competition}}" tooltip-placement="bottom"> {{competitionResult.result | number: 3}}</span>
                          <span ng-show="competitionResult.result === null" uib-tooltip="{{competitionResult.competition}}" tooltip-placement="bottom"> ---</span>
                        </div>
                      </div>
                      <div class="col-md-2 text-right">
                        <label>{{result.points | number: 3}}</label>
                      </div>
                      <div class="separator"></div>
                    </div>
                  </li>
                </ul>
                <div class="separator"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="region-box">
            <div class="region-box-title">
              <label><i class="glyphicon glyphicon-list"></i> General Ranking Synchro</label>
              <a ng-click="generateSynchroRankingPDF()" class="region-box-action">
                <i class="glyphicon glyphicon-save padding"></i> PDF
              </a>
            </div>
            <div class="region-box-content">
              <div class="col-md-12">
                <ul class="list-group">
                  <li class="list-group-item" ng-repeat="result in seasonInstance.synchroRanking">
                    <div class="row">
                      <div class="col-md-3">
                        {{$index+1}}- <label>{{result.competitor.name}}</label>
                      </div>
                      <div class="col-md-7">
                        <div class="col-md-3 text-right" ng-repeat="competitionResult in result.competitions">
                          <span ng-show="competitionResult.result !== null" uib-tooltip="{{competitionResult.competition}}" tooltip-placement="bottom"> {{competitionResult.result | number: 3}}</span>
                          <span ng-show="competitionResult.result === null" uib-tooltip="{{competitionResult.competition}}" tooltip-placement="bottom"> ---</span>
                        </div>
                      </div>
                      <div class="col-md-2 text-right">
                        <label>{{result.points | number: 3}}</label>
                      </div>
                      <div class="separator"></div>
                    </div>
                  </li>
                </ul>
                <div class="separator"></div>
              </div>
            </div>
          </div>
        </div>
        <!--<div class="col-md-6">-->
          <!--<div class="region-box">-->
            <!--<div class="region-box-title">-->
              <!--<label><i class="glyphicon glyphicon-list"></i> Female Ranking</label>-->
              <!--<a ng-click="pdfFemaleRanking()" class="region-box-action">-->
                <!--<i class="glyphicon glyphicon-save padding"></i> PDF-->
              <!--</a>-->
            <!--</div>-->
            <!--<div class="region-box-content">-->
              <!--Female Ranking here!!-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="col-md-6">-->
          <!--<div class="region-box">-->
            <!--<div class="region-box-title">-->
              <!--<label><i class="glyphicon glyphicon-list"></i> Female Ranking Synchro</label>-->
              <!--<a ng-click="pdfFemaleRanking()" class="region-box-action">-->
                <!--<i class="glyphicon glyphicon-save padding"></i> PDF-->
              <!--</a>-->
            <!--</div>-->
            <!--<div class="region-box-content">-->
              <!--Female Ranking here!!-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      </uib-tab>
    </uib-tabset>
  </div>
</div>
