<div class="container">
  <div class="row center-block">
    <div class="col-sm-4">
      <form class="form" name="form" ng-submit="login(form)" novalidate>

        <div class="form-group">
          <label>Email:</label>
          <input type="email" name="email" class="form-control" ng-model="user.email" required>
          <!--<small class="help-block">Admin : admin@acropyx.com </small>-->
          <!--<small class="help-block">Manager : manager@acropyx.com </small>-->
        </div>

        <div class="form-group">
          <label>Password:</label>
          <input type="password" name="password" class="form-control" ng-model="user.password" required>
          <!--<small class="help-block">123</small>-->
        </div>

        <div class="form-group has-error">
          <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && submitted">
             Please enter your email and password.
          </p>
          <p class="help-block" ng-show="form.email.$error.email && submitted">
             Please enter a valid email.
          </p>

          <p class="help-block">{{ errors.other }}</p>
        </div>

        <div>
          <button class="btn btn-inverse btn-lg btn-login" type="submit">
            Login
          </button>
        </div>
      </form>
    </div>
  </div>

</div>
