<div class="modal-header">
  <h3 class="modal-title">Add a new Pilot</h3>
</div>
<form name="frmAddPilot" class="form-horizontal" novalidate role="form" ng-submit="addPilot()">
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12 form-group">
        <div class="col-md-6" ng-class="{ 'has-error' : frmAddPilot.pilotName.$invalid && !frmAddPilot.pilotName.$pristine }">
          <label>Name:</label>
          <input type="text" class="form-control" placeholder="Type the pilot name"
                 ng-model="newPilot.name"  name="pilotName" ng-required="true"/>
          <small ng-show="frmAddPilot.pilotName.$invalid && !frmAddPilot.pilotName.$pristine" class="help-block">
            Pilot name is required.
          </small>
        </div>
        <div class="col-md-6" ng-class="{ 'has-error' : frmAddPilot.pilotCountry.$invalid && !frmAddPilot.pilotCountry.$pristine }">
          <label>Country:</label>
          <div>
            <select class="form-control" ng-model="newPilot.country" data-placeholder="Select a country"
                    ng-required="true" name="pilotCountry">
              <option value="">Select a country</option>
              <option ng-repeat="country in countries" value="{{country._id}}">{{country.name}}</option>
            </select>
            <small ng-show="frmAddPilot.pilotCountry.$invalid && !frmAddPilot.pilotCountry.$pristine" class="help-block">
              Pilot country is required.
            </small>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 form-group">
        <div class="col-md-6" >
          <label>Sex:</label>
          <div>
            <ng-radio-button-group class="btn-group" data-toggle="buttons-radio" model="newPilot.sex"
                                   options="sexOptions" id="idPropertySex" name="namePropertySex"
                                   suffix="bootstrapSuffix">
            </ng-radio-button-group>
          </div>
        </div>
        <div class="col-md-6" ng-class="{ 'has-error' : frmAddPilot.pilotCivlId.$invalid && !frmAddPilot.pilotCivlId.$pristine }">
          <label>Civl Id:</label>
          <input type="text" class="form-control" placeholder="Type the pilot civl identifier" ng-model="newPilot.civlId"
                 ng-required="false" name="pilotCivlId">
          <!--<small ng-show="frmAddPilot.pilotCivlId.$invalid && !frmAddPilot.pilotCivlId.$pristine" class="help-block">-->
            <!--Pilot CIVL ID is required.-->
          <!--</small>-->
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary actions-btn" ng-disabled="frmAddPilot.$invalid">
      <i class="glyphicon glyphicon-save"> Save</i>
    </button>
    <button type="button" class="btn btn-primary actions-btn" ng-click="cancel()">
      <i class="glyphicon glyphicon-remove"> Cancel</i>
    </button>
  </div>
</form>
