@import 'bootstrap/less/bootstrap.less';
@import 'font-awesome/less/font-awesome.less';

@icon-font-path: '/bower_components/bootstrap/fonts/';
@fa-font-path: '/bower_components/font-awesome/fonts';

/**
 * App-wide Styles
 */

.accordion-body.in { overflow:visible; }

.dropdown-menu li{
  z-index: 1000;
}

@font-light-color : #f8f8f8;
@font-dark-color : #1B2E4F;

@bg-color: #18536C;

@logo-color: #1B2E4F; //#5D1E79;

@logo-bg-color: #F8F8F8; //#9C949E;

@separator-color: #E7E7E7; //#DDDDDD;
@dark-separator-color : #808080;

@text-area-height: 160px;

/**
 * App-wide Styles
 */
body {
  box-shadow : 0 0 0 10px rgba(255, 255, 255, 0.1) inset;
  min-height : 100%;
  padding    : 0;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.container{
  width: 100%;
}

.entity-title{
  background: #1B2E4F;
  text-align: center;
  color: white;
  font-size: 18px;
  padding: 5px;
  margin-bottom: 1em;
  .btn {
    padding: 1px 6px !important;
  }
}

/**
* Basic Components
**/
.text-area{
  min-height: @text-area-height;
  max-height: @text-area-height;
  max-width: 100%;
}

.btn-primary{
  background-color: @logo-bg-color;
  color: @font-dark-color;
  border-color: @logo-color;
}

.btn-primary:hover{
  background-color: @logo-color;
  color: @font-light-color;
  border-color: @font-light-color;
}


.top-separator{
  border-top: 1px solid @separator-color;
  margin-top: 1em;
}

/**
* Transparence
*/
.opacity-tiny{
  filter: alpha(opacity=90); /* internet explorer */
  -khtml-opacity: 0.9;      /* khtml, version anterior de safari */
  -moz-opacity: 0.9;       /* firefox, mozilla, netscape */
  opacity: 0.9;           /* safari, chrome, opera */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"; /*internet explorer 8 - gracias Andres */
}

/**
* Tooltips
**/
.tooltip-arrow {
  background: @logo-color;
  border: 1px solid  @font-light-color;
}

.tooltip-inner{
  background: @logo-color;
  color:@font-light-color;
  border: 1px solid @font-light-color;
}

/**
* Modals
**/

.modal-content{
  .modal-header, .modal-footer{
    background: @logo-color;
    color: @font-light-color;
  }
}

.large-modal {
  .modal-dialog {
    width: 98% !important;
    //max-width: 1280px !important;
    overflow: auto !important;
    .modal-title, .modal-footer {
      text-align: center;
    }
  }
}

.medium-modal {
  .modal-dialog {
    width: 50% !important;
    //max-width: 1280px !important;
    overflow: auto !important;
    .modal-title, .modal-footer {
      text-align: center;
    }
  }
}


/**
* General
**/

a{
  cursor:pointer;
}

.nav-tabs > li > a {
  color:@logo-color;
  cursor:pointer;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
  background: @logo-color;
  color:@font-light-color;
}

.dashboard-menu{
  margin-right: 1em;
}

.separator-menu {
  margin-right : 4em;
}


.tab-content{
  padding-top: 1em;
}

.help-comment{
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373 !important;
}
.list-group {
  margin-bottom: 50px;
}

.list-group-action{
  float: right;
  margin: 0 3px;
  cursor: pointer;
  color: @bg-color;

}
.list-group-action.disabled, .list-group-action[disabled] {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  box-shadow: none;
  color: @bg-color;
}

.list-group-item{
  a{
    color: @logo-color;
    text-decoration: none;
  }
}
.panel-title {
  a {
    color: @logo-color;
    font-weight: bold;
    text-decoration: none;
  }
}

.form-actions{
  padding: 1em;
  text-align: center;
  .actions-btn {
    margin: 0 1em;
  }
}

.region-box{
  margin : 1em;
  border: 1px solid @logo-color;
  border-radius: @border-radius-base;
  .region-box-title{
    background : @logo-color;
    height     : 2em;
//    text-align : center;
    padding: .2em;
    margin     : 0;
    color      : #FFFFFF;
    .region-box-action{
      margin: 0 .2em;
      float:right;
    }
    a {
      color: @font-light-color;
    }
    a:hover{
      cursor: pointer;
    }
  }
  .region-box-content{
    max-height: 500px;
    overflow: auto;
    margin     : .5em;
    min-height : 4em;
    color      : @font-dark-color;
    .list-group-item{
      line-height: 14px;
      font-size: 13px;
      padding: 5px;
    }
  }
}
.float-left{
  float:left;
}
.float-right{
  float:right;
}
.separator{
  clear:both;
}
.no-padding{
  padding: 0 !important;
}
.no-border{
  border: 0 !important;
}

.background-box{
  background: @logo-bg-color;
}

.panel-collapse{
  min-height: 200px !important;
}


.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// injector
@import 'account/login/login.less';
@import 'admin/admin.less';
@import 'admin/common/settings/directives/settings.less';
@import 'admin/competition/adminCompetition.less';
@import 'admin/dashboard/adminDashboard.less';
@import 'admin/event/adminEvent.less';
@import 'admin/judge/adminJudge.less';
@import 'admin/manoeuvre/adminManoeuvre.less';
@import 'admin/pilot/adminPilot.less';
@import 'admin/run/adminRun.less';
@import 'admin/season/adminSeason.less';
@import 'admin/setting/adminSetting.less';
@import 'admin/sponsor/adminSponsor.less';
@import 'admin/team/adminTeam.less';
@import 'admin/users/adminUsers.less';
@import 'main/main.less';
@import 'manager/dashboard/managerDashboard.less';
@import 'manager/event/directives/showBattles/showBattles.less';
@import 'manager/event/directives/showCompetition/showCompetition.less';
@import 'manager/event/directives/showFlight/components/selectManoeuvre/selectManoeuvre.less';
@import 'manager/event/directives/showFlight/showFlight.less';
@import 'manager/event/directives/showFlights/showFlights.less';
@import 'manager/event/managerEvent.less';
@import 'navbar/navbar.less';
@import 'yndComponents/confirm/confirm.less';
@import 'yndComponents/groupItems/groupItems.less';
@import 'yndComponents/groupOptions/groupOptions.less';
// endinjector
