<div class="col-md-12 form-group">
  <div class="btn-group " uib-dropdown ng-show="competition.activeRun && !competition.activeRun.startTime">
    <button type="button" class="btn btn-primary large-font"
            ng-click="startRun(false)" ladda="isStartingRun" data-style="expand-right">
      <i class="glyphicon glyphicon-facetime-video"></i>
      Start run
    </button>
    <button type="button" class="btn btn-primary large-font" uib-dropdown-toggle>
      <span class="caret"></span>
      <span class="sr-only">Split button!</span>
    </button>
    <ul class="dropdown-menu" uib-dropdown-menu  role="menu">
      <li>
        <a ng-click="startRun(false)">
          <i class="glyphicon glyphicon-stop"></i>
          <b>
            Start run
          </b>
        </a>
      </li>
      <li>
        <a ng-click="startRun(true)">
          <i class="glyphicon glyphicon-facetime-video"></i>
          Start run and show in display
        </a>
      </li>
    </ul>
  </div>

  <div class="btn-group " uib-dropdown ng-show="competition.activeRun && !competition.activeRun.endTime && flightsEnded()">
    <button type="button" class="btn btn-primary large-font"
            ng-click="endRun(false)" ladda="isEndingRun" data-style="expand-right">
      <i class="glyphicon glyphicon-stop"></i>
      End run
    </button>
    <button type="button" class="btn btn-primary large-font" uib-dropdown-toggle>
      <span class="caret"></span>
      <span class="sr-only">Split button!</span>
    </button>
    <ul class="dropdown-menu" uib-dropdown-menu  role="menu">
      <li>
        <a ng-click="endRun(false)">
          <i class="glyphicon glyphicon-stop"></i>
          <b>
            End run
          </b>
        </a>
      </li>
      <li>
        <a ng-click="endRun(true)">
          <i class="glyphicon glyphicon-facetime-video"></i>
          End run and display results
        </a>
      </li>
    </ul>
  </div>


  <div class="btn-group" uib-dropdown ng-show="competition.activeRun && competition.activeRun.startTime">
    <button type="button" class="btn btn-primary large-font"
            ng-click="showRunStartingOrder()" ladda="isShowingStartingOrder" data-style="expand-right">
      <i class="glyphicon glyphicon-facetime-video"></i>
      Starting order
    </button>
    <button type="button" class="btn btn-primary large-font" uib-dropdown-toggle>
      <span class="caret"></span>
      <span class="sr-only">Split button!</span>
    </button>
    <ul class="dropdown-menu" uib-dropdown-menu  role="menu">
      <li>
        <a ng-click="showRunStartingOrder()">
          <i class="glyphicon glyphicon-facetime-video"></i>
          <b>
            Display starting order
          </b>
        </a>
      </li>
      <li>
        <a ng-click="openRunStartingOrder()">
          <i class="glyphicon glyphicon-eye-open"></i>
          View starting order</a>
      </li>
    </ul>
  </div>


  <div class="btn-group" uib-dropdown ng-show="competition.activeRun && competition.activeRun.startTime">
    <button type="button" class="btn btn-primary large-font"
            ng-click="showRunResults()" ladda="isShowingRunResults" data-style="expand-right">
      <i class="glyphicon glyphicon-facetime-video"></i>
      Run Results
    </button>

    <button type="button" class="btn btn-primary large-font" uib-dropdown-toggle>
      <span class="caret"></span>
      <span class="sr-only">Split button!</span>
    </button>
    <ul class="dropdown-menu" uib-dropdown-menu  role="menu">
      <li>
        <a ng-click="showRunResults()">
          <i class="glyphicon glyphicon-facetime-video"></i>
          <b>
            Display run results
          </b>
        </a>
      </li>
      <!--<li>-->
        <!--<a ng-click="showRunBattlesResults()">-->
          <!--<i class="glyphicon glyphicon-facetime-video"></i>-->
            <!--Display battles results-->
        <!--</a>-->
      <!--</li>-->
      <li>
        <a ng-click="openRunResults()">
          <i class="glyphicon glyphicon-eye-open"></i>
          View run results</a>
      </li>
    </ul>
  </div>


  <div class="btn-group" uib-dropdown ng-show="!competition.activeRun || competition.activeRun.order > 1 || competition.activeRun.startTime">
    <button type="button" class="btn btn-primary large-font"
            ng-click="showCompetitionResults()" ladda="isShowingCompetitionResults" data-style="expand-right">
      <i class="glyphicon glyphicon-facetime-video"></i>
      Competition Results
    </button>
    <button type="button" class="btn btn-primary large-font" uib-dropdown-toggle>
      <span class="caret"></span>
      <span class="sr-only">Split button!</span>
    </button>
    <ul class="dropdown-menu" uib-dropdown-menu  role="menu">
      <li>
        <a ng-click="showCompetitionResults()">
          <i class="glyphicon glyphicon-facetime-video"></i>
          <b>
            Display competition results
          </b>
        </a>
      </li>
      <li>
        <a ng-click="openCompetitionResults()">
          <i class="glyphicon glyphicon-eye-open"></i>
          View competition results</a>
      </li>
    </ul>
  </div>

  <div class="btn-group" uib-dropdown ng-show="!competition.activeRun && !competition.endTime">
    <button type="button" class="btn btn-primary large-font"
            ng-click="endCompetition()" ladda="isEndingCompetition" data-style="expand-right">
      <i class="glyphicon glyphicon-stop"></i>
      End competition
    </button>
    <button type="button" class="btn btn-primary large-font" uib-dropdown-toggle>
      <span class="caret"></span>
      <span class="sr-only">Split button!</span>
    </button>
    <ul class="dropdown-menu" uib-dropdown-menu  role="menu">
      <li>
        <a ng-click="endCompetition(false)">
          <i class="glyphicon glyphicon-stop"></i>
          <b>
            End competition
          </b>
        </a>
      </li>
      <li>
        <a ng-click="endCompetition(true)">
          <i class="glyphicon glyphicon-facetime-video"></i>
          End competition and display results
        </a>
      </li>
    </ul>
  </div>

</div>
<div ng-if="competition.activeRun && competition.activeRun.startTime">
  <div class="col-md-12" ng-show="competition.activeRun.type.name !== 'Battle'">
    <show-flights flights="competition.activeRun.flights"></show-flights>
  </div>
  <div class="col-md-12" ng-show="competition.activeRun.type.name === 'Battle'">
    <show-battles flights="competition.activeRun.flights"></show-battles>
  </div>
</div>
