<div class="modal-header">
  <h3 class="modal-title">Add a new Team</h3>
</div>
<form name="frmAddTeam" class="form-horizontal" novalidate role="form" ng-submit="addTeam()">
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-6" ng-class="{ 'has-error' : frmAddTeam.teamName.$invalid && !frmAddTeam.teamName.$pristine }">
          <label>Name:</label>
          <input type="text" class="form-control" placeholder="Type the team name"
                 ng-model="newTeam.name"  name="teamName" ng-required="true"/>
          <small ng-show="frmAddTeam.teamName.$invalid && !frmAddTeam.teamName.$pristine" class="help-block">
            Team name is required.
          </small>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 form-group">
        <label class="control-label">Pilots:</label>
        <ng-group-items items="pilots" selected-items="newTeam.pilots" name="name" id="_id"></ng-group-items>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary actions-btn" ng-disabled="frmAddTeam.$invalid">
      <i class="glyphicon glyphicon-save"> Save</i>
    </button>
    <button type="button" class="btn btn-primary actions-btn" ng-click="cancel()">
      <i class="glyphicon glyphicon-remove"> Cancel</i>
    </button>
  </div>
</form>
