<div class = "container" xmlns = "http://www.w3.org/1999/html" >
  <div class="col-md-8">
    <div class="col-md-4 form-group ">
      <label class="control-label">Picture: </label> <br>
      <img class="admin-picture" alt="Pilot picture"/>
      <form class="form-inline" ng-show="!uploading">
        <input class="form-control" placeholder="select the image" ng-click="selectImage()">
        <button class="btn btn-primary actions-btn" ng-click="uploadImage()" uib-tooltip="change the image...">
          <i class="glyphicon glyphicon-upload"></i>
          Change
        </button>
      </form>
      <div ng-show="uploading">
        progress here
        <a ng-click="cancelUpload()"> <i class="glyphicon glyphicon-remove"></i> Cancel </a>
      </div>
    </div>
    <div class="col-md-8 form-group">
          <label class="control-label">Name:</label>
          <input type="text" class="form-control" ng-model="judgeInstance.name"/>
    </div>
    <div class="col-md-8 form-group">
      <label class="control-label">Type:</label>
      <div class="form-group">
        <ng-radio-button-group class="btn-group" data-toggle="buttons-radio"
                               model="judgeInstance.type" options="judgeTypes" id="idProperty" name="nameProperty"
                               suffix="bootstrapSuffix">
        </ng-radio-button-group>
      </div>
    </div>
  </div>

  <div class="col-md-8 form-actions top-separator">
    <button type="button" class="btn btn-primary actions-btn" ng-click="changeJudge()" ladda="isSavingJudge" data-style="expand-right"
            uib-tooltip="Save data changes" tooltip-placement="bottom">
      <i class="glyphicon glyphicon-save"> Save</i>
    </button>
    <button type="button" class="btn btn-primary actions-btn" ng-really-do="discardChanges()" ng-really-message="are you sure you want to discard the changes?"
            uib-tooltip="Discard changes" tooltip-placement="bottom">
      <i class="glyphicon glyphicon-arrow-left"></i>
      Discard Changes
    </button>
    <button type="button" class="btn btn-primary actions-btn" ladda="isDeletingJudge" data-style="expand-right"
            ng-really-do="deleteJudge()"
            ng-really-message="Are you sure you want to delete the judge: {{judgeInstance.name}}?">
      <i class="glyphicon glyphicon-minus-sign"></i>
      Delete
    </button>
  </div>
</div>
