<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">
        <img ng-src="/assets/images/acropyx_logo.png" alt="Acropyx 2015"/>
      </a>
    </div>
    <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li class="dashboard-menu" ng-show="isAdmin()" ng-class="{active: isActive('/admin')}">
          <a href="/admin"  uib-tooltip="Admin Dashboard" tooltip-placement="bottom">
            <span class="glyphicon glyphicon-th"> </span>
            Admin Dashboard
          </a>
        </li>
        <li class="dashboard-menu" ng-show="isAdmin()" ng-class="{active: isActive('/admin/setting')}">
          <a href="/admin/setting"  uib-tooltip="Default Settings" tooltip-placement="bottom">
            <span class="glyphicon glyphicon-cog"> </span>
            Settings
          </a>
        </li>
        <!--<li class="dashboard-menu" ng-show="isAdmin()" ng-class="{active: isActive('/admin/documents')}">-->
          <!--<a href="/admin/documents"  uib-tooltip="Default Settings" tooltip-placement="bottom">-->
            <!--<span class="glyphicon glyphicon-book"> </span>-->
            <!--Documents-->
          <!--</a>-->
        <!--</li>-->
        <li class="dashboard-menu" ng-show="isManager()" ng-class="{active: isActive('/manager')}">
          <a href="/manager"  uib-tooltip="Manager Dashboard" tooltip-placement="bottom">
            <span class="glyphicon glyphicon-th-list"> </span>
            All Seasons
          </a>
        </li>

        <li ng-repeat="item in menu"  ng-show="isManager()" ng-class="{active: isActive(item.link)}">
            <a ng-href="{{item.link}}">
              <span class="glyphicon glyphicon-play"> </span>
              {{item.title}}</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}">
          <a href="/login">Login</a>
        </li>
        <li ng-show="isLoggedIn()">
          <p class="navbar-text">Hello {{ getCurrentUser().name }}</p>
        </li>
        <li ng-show="isManager()" ng-class="{active: isActive('/admin')}">
          <a href="/admin"  uib-tooltip="Admin Dashboard" tooltip-placement="bottom">
            <span class="glyphicon glyphicon-th"></span>
          </a>
        </li>
        <li ng-show="isAdmin()"  ng-class="{active: isActive('/manager')}">
          <a href="/manager" uib-tooltip="Manager Dashboard" tooltip-placement="bottom">
            <span class="glyphicon glyphicon-th-list" ></span>
          </a></li>
        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/settings')}">
          <a href="/settings" uib-tooltip="Change password" tooltip-placement="bottom">
            <span class="glyphicon glyphicon-asterisk"></span>
          </a>
        </li>
        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}">
          <a href="" ng-click="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</div>
