.navbar-brand {
  padding: .2em .2em;
  font-size: 1.5em;
  color: @logo-color !important;
}

.navbar-nav {
  margin : 0 0 0 3em;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color            : @font-light-color;
  background-color : @logo-color;
  font-weight: bold;
}
