<div class="modal-header">
  <h3 class="modal-title pull-left">{{competitorName}} - Manoeuvres</h3>
  <div class="pull-right">
    <button type="button" class="btn btn-primary actions-btn" ng-click="save()">
      <i class="glyphicon glyphicon-save"> Save</i>
    </button>
    <button type="button" class="btn btn-primary actions-btn" ng-really-do="cancel()"
            ng-really-message="Are you sure you want to cancel?">
      <i class="glyphicon glyphicon-remove"> Cancel</i>
    </button>
  </div>
  <div class="separator"></div>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-12 title-box">
      <label>Flight Manoeuvres ({{flightManoeuvres.length}}):</label>
    </div>
    <div class="col-md-12  group-box border">
      <div class="item-box" ng-repeat="flightManoeuvre  in flightManoeuvres">
        <label class="item-info" >
          <i ng-show="flightManoeuvre.bonusType.length > 0" class="glyphicon glyphicon-thumbs-up" uib-tooltip="{{flightManoeuvre.bonusType}}" tooltip-placement="bottom"> </i>
          {{flightManoeuvre.manoeuvre.name}}
          <span ng-show="flightManoeuvre.side"> ({{flightManoeuvre.side}})</span>
        </label>
        <a ng-click="removeManoeuvre(flightManoeuvre)">
          <i class="glyphicon glyphicon-remove"></i>
        </a>
      </div>
      <div class="separator"></div>
    </div>
    <div class="col-md-12 manoeuvres-box ">
      <div class="item-box" ng-repeat="manoeuvre  in noMalusManoeuvres">
        <select-manoeuvre manoeuvre="manoeuvre" is-synchro="isSynchro" on-select="addManoeuvre(selectedManoeuvre)"></select-manoeuvre>
      </div>
      <div class="separator"></div>
    </div>
    <div class="col-md-12 manoeuvres-box background-row" ng-if="isSynchro">
      <div class="item-box" ng-repeat="manoeuvre  in onlySynchroManoeuvres">
        <select-manoeuvre manoeuvre="manoeuvre" is-synchro="isSynchro" on-select="addManoeuvre(selectedManoeuvre)"></select-manoeuvre>
      </div>
      <div class="separator"></div>
    </div>
    <div class="item-box" ng-repeat="manoeuvre  in manoeuvreList">
      <select-manoeuvre manoeuvre="manoeuvre" is-synchro="isSynchro" on-select="addManoeuvre(selectedManoeuvre)"></select-manoeuvre>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary actions-btn" ng-click="save()">
    <i class="glyphicon glyphicon-save"> Save</i>
  </button>
  <button type="button" class="btn btn-primary actions-btn" ng-really-do="cancel()"
          ng-really-message="Are you sure you want to cancel?">
    <i class="glyphicon glyphicon-remove"> Cancel</i>
  </button>
</div>
