<div class="modal-header">
  <h3 class="modal-title">{{competitorName}} - Votes</h3>
</div>
<div class="modal-body">
  <div class="row">
      <div class="col-md-12">
        <div class="col-md-2">

        </div>
        <div class="col-md-10">
          <div class="text-center col-md-3" ng-repeat="markType in markTypes">
            <label>{{markType.name}}</label>
          </div>
        </div>
      </div>
    <div class="col-md-12 judge-box" ng-init="judgeIndex = $index" ng-repeat="judge in judges">
      <div class="col-md-2">
        <label>{{judge.name}}</label>
      </div>
      <div class="col-md-10">
        <div class="col-md-3" ng-repeat="markType in markTypes">
          <select autofocus="true" class="form-control" ng-model="votes[$index+judgeIndex*markTypes.length]" ng-options="vote.value for vote in votePoints"></select>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary actions-btn" ng-click="save()">
    <i class="glyphicon glyphicon-save"> Save</i>
  </button>
  <button type="button" class="btn btn-primary actions-btn" ng-click="cancel()">
    <i class="glyphicon glyphicon-remove"> Cancel</i>
  </button>
</div>
