  <div class="col-md-6">
    <div class="col-md-12">
      <div class="col-md-6">
        <label class="control-label">Warnings points:</label>
        <input type="text" class="form-control" ng-model="settingInstance.warningPoints" ng-require/>
        <small class="help-block">points to decrease when warning</small>
      </div>
      <div class="col-md-6">
        <label class="control-label">increase warning points:</label>
        <div class="form-group">
          <!--<ng-radio-button-group class="btn-group btn-group-justified" data-toggle="buttons-radio" model="settingInstance.warningIncremental" options="incrementalOptions" id="idProperty" name="nameProperty" suffix="bootstrapSuffix"></ng-radio-button-group>-->
          <ng-radio-button-group class="btn-group" data-toggle="buttons-radio" model="settingInstance.warningIncremental" options="incrementalOptions" id="idProperty" name="nameProperty" suffix="bootstrapSuffix"></ng-radio-button-group>
        </div>

        <small class="help-block">is warning points incremental?</small>
      </div>
    </div>
    <div class="col-md-12">
      <div class="col-md-6">
        <label class="control-label">Warnings to DSQ:</label>
        <input type="text" class="form-control" ng-model="settingInstance.warningsToDSQ" ng-require/>
        <small class="help-block">amount of warning to DSQ the competitor</small>
      </div>
      <div class="col-md-6">
        <label class="control-label">Manoeuvre repetition malus(%):</label>
        <input type="text" class="form-control" ng-model="settingInstance.penalty" ng-require/>
        <small class="help-block">manoeuvre repetition malus percent</small>
      </div>
    </div>
    <div class="col-md-12">
      <div class="col-md-6">
        <label class="control-label">Bonus Manoeuvres:</label>
        <input type="text" class="form-control" ng-model="settingInstance.bonusManoeuvres" ng-readonly="true"/>
        <small class="help-block">amount of bonus manoeuvres allowed</small>
      </div>
      <div class="col-md-6">
        <label class="control-label">Average Manoeuvres:</label>
        <input type="text" class="form-control" ng-model="settingInstance.meanManoeuvres" ng-readonly="true"/>
        <small class="help-block">amount of manoeuvres to compute technical result</small>
      </div>
    </div>
    <div class="col-md-12 form-group">
      <div class="col-md-12">
        <label class="control-label">Manoeuvre List (repeatable without penalty):</label>
      </div>
      <div class="col-md-12">
        <ng-group-items items="manoeuvres" selected-items="settingInstance.withoutPenaltyManoeuvres" name="name" id="_id"></ng-group-items>
      </div>
    </div>

  </div>
  <div class="col-md-6">
    <div class="col-md-12">
      <div class="region-box">
        <div class="region-box-title">
          <label><i class="glyphicon glyphicon-ok-circle"></i> Judges qualification (%)</label>
        </div>
        <div class="region-box-content">
          <div class="col-md-12 text-center">
            <small class="help-block">Judges qualification sum must be 100%</small>
          </div>
          <div class="col-md-6" ng-repeat="judgeMean in settingInstance.judgesMean">
            <label class="control-label">{{judgeMean.judgeType.name}}</label>
            <input type="text" class="form-control" ng-model="judgeMean.mean" ng-require/>
          </div>
          <div class="separator"></div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="region-box">
        <div class="region-box-title">
          <label><i class="glyphicon glyphicon-ok-circle"></i> Mark coefficients (%) </label>
        </div>
        <div class="region-box-content">
          <div class="region-box" ng-repeat="competitionMarkCoefficient in settingInstance.competitionMarkCoefficients">
            <div class="region-box-title">
              <label><i class="glyphicon glyphicon-ok-circle"></i> {{competitionMarkCoefficient.competitionType.name}} </label>
            </div>
            <div class="region-box-content">
              <div class="col-md-12 text-center">
                <small class="help-block">Mark coefficients sum  must be 100%</small>
              </div>
              <div class="col-md-6" ng-repeat="markCoefficient in competitionMarkCoefficient.markCoefficients">
                <label class="control-label">{{markCoefficient.markType.name}}:</label>
                <input type="text" class="form-control" ng-model="markCoefficient.coefficient" ng-require/>
              </div>
              <div class="separator"></div>
            </div>
          </div>
          <div class="separator"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12 form-actions top-separator">
    <button type="button" class="btn btn-primary actions-btn" ng-click="changeSettings()"
            ladda="isSaving" data-style="expand-right"
            uib-tooltip="Save data changes" tooltip-placement="bottom">
      <i class="glyphicon glyphicon-save"> Save</i>
    </button>

    <button type="button" class="btn btn-primary actions-btn" ng-click="discardChanges()" uib-tooltip="Discard changes" tooltip-placement="bottom">
      <i class="glyphicon glyphicon-arrow-left"></i>
      Discard Changes
    </button>
  </div>

