<div class = "container" xmlns = "http://www.w3.org/1999/html" >
  <div class="col-md-12 entity-title">
    {{runInstance.name}}
    <div class="pull-right">
      <button type="button" class="btn btn-danger no-padding" ng-really-do="deleteRun()"
              ng-really-message="Are you sure you want to delete the run: {{runInstance.name}}?">
        <i class="glyphicon glyphicon-minus-sign" uib-tooltip="Delete the run"></i>
        Delete
      </button>
      <button type="button" class="btn btn-danger no-padding" ng-really-do="reopenRun()"
              ng-really-message="Are you sure you want to reopen the run: {{runInstance.name}}?">
        <i class="glyphicon glyphicon-folder-open" uib-tooltip="Reopen the run"></i>
        Reopen
      </button>
      <button type="button" class="btn btn-danger no-padding" ng-really-do="resetRun()"
              ng-really-message="Are you sure you want to reset the run: {{runInstance.name}}?">
        <i class="glyphicon glyphicon-exclamation-sign" uib-tooltip="Reset the run"></i>
        Reset
      </button>
    </div>
  </div>
  <div class="col-md-12 no-padding">
    <uib-tabset>
      <uib-tab heading="Info">
        <div class="col-md-12">
          <div class="col-md-12">
            <div class="col-md-4 form-group">
              <label class="control-label">Competition:</label>
              <div class="input-group add-on">
                <input type="text" class="form-control" ng-model="runInstance.competition.name" ng-readonly="true">
                <div class="input-group-btn">
                  <button class="btn btn-default" type="button" ng-click="viewCompetition()"><i class="glyphicon glyphicon-link"></i></button>
                </div>
              </div>
            </div>
            <div class="col-md-4 form-group">
              <label class="control-label">Previous Run:</label>
              <div class="input-group add-on">
                <input type="text" class="form-control" ng-model="runInstance.previousRun.name" ng-readonly="true">
                <div class="input-group-btn" ng-show="runInstance.previousRun">
                  <button class="btn btn-default" type="button" ng-click="viewRun(runInstance.previousRun)"><i class="glyphicon glyphicon-link"></i></button>
                </div>
              </div>
            </div>
            <div class="col-md-4 form-group">
              <label class="control-label">Next Run:</label>
              <div class="input-group add-on">
                <input type="text" class="form-control" ng-model="runInstance.nextRun.name" ng-readonly="true">
                <div class="input-group-btn" ng-show="runInstance.nextRun">
                  <button class="btn btn-default" type="button" ng-click="viewRun(runInstance.nextRun)"><i class="glyphicon glyphicon-link"></i></button>
                </div>
              </div>
            </div>

          </div>
          <div class="col-md-12">
            <div class="col-md-4 form-group">
              <label class="control-label">Name:</label>
              <input type="text" class="form-control" ng-model="runInstance.name" ng-require/>
            </div>
            <div class="col-md-4 form-group">
              <label class="control-label">Code:</label>
              <input type="text" class="form-control" ng-model="runInstance.code" ng-require/>
            </div>
            <div class="col-md-4 form-group">
              <label class="control-label">Type:</label>
              <div>
                  <ng-radio-button-group class="btn-group" data-toggle="buttons-radio" model="runInstance.type" options="runTypes" id="idPropertyType" name="namePropertyType" suffix="bootstrapSuffix"></ng-radio-button-group>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-4 form-group">
              <label class="control-label">Qualified by CIVL Rank:</label>
              <input type="text" class="form-control" ng-model="runInstance.qualifiedByCivlRank" ng-require/>
              <small class="help-block">Competitors with this CIVL Rank or better qualify automatically.</small>
            </div>
            <div class="col-md-4 form-group">
              <label class="control-label">Qualified by actual APWT ranking:</label>
              <input type="text" class="form-control" ng-model="runInstance.qualifiedByApwcRank" ng-require/>
              <small class="help-block">Competitos with this APWC Rank or better qualify automatically.</small>
            </div>
            <div class="col-md-4 form-group">
              <label class="control-label">Qualified for next Run:</label>
              <input type="text" class="form-control" ng-model="runInstance.qualifiedForNextRun" ng-require/>
              <small class="help-block">Amount of competitors qualify for next run, value 0 mean all competitors qualify.</small>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-4 form-group">
              <label class="control-label">Start time:</label>
              <input type="text" class="form-control" ng-model="runInstance.startTime" readonly/>
            </div>
            <div class="col-md-4 form-group">
              <label class="control-label">End time:</label>
              <input type="text" class="form-control" ng-model="runInstance.endTime" readonly/>
            </div>
            <div class="col-md-4 form-group">
              <label class="control-label">Apply penalty:</label>
              <div>
                <ng-radio-button-group class="btn-group" data-toggle="buttons-radio" model="runInstance.applyPenalty" options="penaltyOptions" id="idProperty" name="nameProperty" suffix="bootstrapSuffix"></ng-radio-button-group>
              </div>
            </div>
          </div>
          <div class="col-md12">
            <div class="col-md-4 form-group">
              <label class="control-label">Final Medals:</label>
              <div>
                <ng-radio-button-group class="btn-group" data-toggle="buttons-radio" model="runInstance.finalMedals"
                                       options="medalsOptions" id="idProperty" name="nameProperty" suffix="bootstrapSuffix"></ng-radio-button-group>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 form-group">
              <label class="control-label">Judges:</label>
              <ng-group-items items="availableJudges" selected-items="runInstance.judges" name="name" id="_id"></ng-group-items>
            </div>
          </div>


          <div class="col-md-12 form-actions top-separator">
            <button type="button" class="btn btn-primary actions-btn" ng-click="changeRun()" uib-tooltip="Save data changes" tooltip-placement="bottom">
              <i class="glyphicon glyphicon-save"> Save</i>
            </button>

            <button type="button" class="btn btn-primary actions-btn"
                    ng-really-do="discardChanges()"
                    ng-really-message="are you sure you want to discard the changes?"
                    uib-tooltip="Discard changes" tooltip-placement="bottom">
              <i class="glyphicon glyphicon-arrow-left"></i>
              Discard Changes
            </button>

          </div>
        </div>
        <div class="col-md-6">

        </div>
      </uib-tab>
      <uib-tab heading="Flights">
        <div class="col-md-4 no-padding">
          <div class="col-md-12">
            <div class="region-box">
              <div class="region-box-title">
                <label><i class="glyphicon glyphicon-th-list"></i>  Starting Order</label>
                <span ng-if="runInstance.flights.length > 0 ">
                  <a ng-click="pdfStartingOrder()" class="region-box-action">
                    <i class="glyphicon glyphicon-save padding" uib-tooltip=" download PDF" tooltip-placement="top"></i>
                  </a>
                  <a  ng-if="!runInstance.startDate" ng-really-do="generateStartingOrder(true)" ng-really-message="Are you sure you want to regenerate starting order?" class="region-box-action">
                    <i class="glyphicon glyphicon-refresh padding" uib-tooltip="Regenerate starting order"></i>
                  </a>
                </span>
                <span ng-if="runInstance.flights.length === 0">
                  <a  ng-click="generateStartingOrder(false)" class="region-box-action">
                    <i class="glyphicon glyphicon-cog padding" uib-tooltip="Generate starting order"></i>
                  </a>
                </span>

                <div class="region-box-spinner" ng-show="isLoadingFlights"></div>
              </div>
              <div class="region-box-content">
                <ul class="list-group" ng-if="runInstance.typeName === 'Standard'">
                  <li class="list-group-item"  ng-repeat="flight  in runInstance.flights">
                    <label>{{flight.order+1}}- {{flight.competitor.name}}</label>
                    <a ng-click="upFlight(flight)" class="list-group-action" ng-disabled="flight.order === 0">
                      <span class="glyphicon glyphicon-arrow-up"></span>
                    </a>
                    <a ng-click="downFlight(flight)" class="list-group-action" ng-disabled="flight.order === runInstance.flights .length - 1">
                      <span class="glyphicon glyphicon-arrow-down"></span>
                    </a>
                  </li>
                </ul>

                <div class="col-md-12 no-padding" ng-if="runInstance.typeName === 'Battle'"
                     ng-class-even="'even-row'" ng-class-odd="'odd-row'" ng-repeat="battle  in battles">
                  <div class="col-md-4 no-padding">
                    {{$index + 1}} -
                    <label> {{battle.firstFlight.competitor.name}}</label>
                  </div>
                  <div class="col-md-2 no-padding text-center">
                    vs
                  </div>
                  <div class="col-md-4 no-padding">
                    <label> {{battle.secondFlight.competitor.name}}</label>
                  </div>
                  <div class="col-md-2 no-padding">
                    <a ng-click="upBattle(battle)" class="list-group-action" ng-disabled="battle.firstFlight.order === battle.secondFlight.order - 1">
                      <span class="glyphicon glyphicon-arrow-up"></span>
                    </a>
                    <a ng-click="downBattle(battle)" class="list-group-action" ng-disabled="battle.firstFlight.order === 0">
                      <span class="glyphicon glyphicon-arrow-down"></span>
                    </a>
                  </div>
                </div>
                <div class="separator"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8 no-padding">
          <div class="col-md-12 " ng-if="battles">
            <div class="region-box">
              <div class="region-box-title">
                <label><i class="glyphicon glyphicon-list"> </i> Battles</label>
                <a ng-click="generateRunBattleResultsPDF()" class="region-box-action">
                  <i class="glyphicon glyphicon-save padding">PDF</i>
                </a>
              </div>
              <div class="region-box-content">
                <div class="col-md-12">
                  <ul class="list-group">
                    <li class="list-group-item" ng-repeat="battle in battles">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="col-md-4 ">
                            <label>{{battle.firstFlight.competitor.name}}</label>
                          </div>
                          <div class="col-md-5">
                            <div class="col-md-3" ng-repeat="detailResult in battle.firstFlight.detailResults">
                              <span uib-tooltip="{{detailResult.markType.name}}" tooltip-placement="bottom"> {{detailResult.value | number:3}}</span>
                            </div>
                          </div>
                          <div class="col-md-2 text-right">
                            <label>{{battle.firstFlight.computeResult | number:3}}</label>
                          </div>
                          <div class="col-md-1 text-center">
                            <i class="glyphicon glyphicon-ok-circle"
                               ng-if="battle.firstFlight.computeResult > battle.secondFlight.computeResult">
                            </i>
                            <i class="glyphicon glyphicon-remove-circle"
                               ng-if="battle.firstFlight.computeResult < battle.secondFlight.computeResult">
                            </i>
                            <i class="glyphicon glyphicon-question-sign"
                               ng-if="battle.firstFlight.computeResult === battle.secondFlight.computeResult">
                            </i>
                          </div>
                        </div>
                        <!--<div class="col-md-2 text-center">-->
                        <!--VS-->
                        <!--</div>-->

                        <div class="col-md-6">
                          <div class="col-md-4">
                            <label>{{battle.secondFlight.competitor.name}}</label>
                          </div>
                          <div class="col-md-5">
                            <div class="col-md-3" ng-repeat="detailResult in battle.secondFlight.detailResults">
                              <span uib-tooltip="{{detailResult.markType.name}}" tooltip-placement="bottom"> {{detailResult.value | number:3}}</span>
                            </div>
                          </div>

                          <div class="col-md-2 text-right">
                            <label>{{battle.secondFlight.computeResult | number:3}}</label>
                          </div>
                          <div class="col-md-1 text-center">
                            <i class="glyphicon glyphicon-check"
                               ng-if="battle.firstFlight.computeResult < battle.secondFlight.computeResult">
                            </i>
                            <i class="glyphicon glyphicon-remove"
                               ng-if="battle.firstFlight.computeResult > battle.secondFlight.computeResult">
                            </i>
                            <i class="glyphicon glyphicon-question-sign"
                               ng-if="battle.firstFlight.computeResult === battle.secondFlight.computeResult">
                            </i>
                          </div>
                        </div>
                      </div>

                    </li>
                  </ul>
                  <div class="separator"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="region-box">
              <div class="region-box-title">
                <label><i class="glyphicon glyphicon-list"></i> Ended Flights</label>
                <a ng-click="generateRunResultsPDF()" class="region-box-action">
                  <i class="glyphicon glyphicon-save padding">PDF</i>
                </a>
              </div>
              <div class="region-box-content">
                <div class="col-md-12">
                  <ul class="list-group">
                    <li class="list-group-item" ng-if="flight.endTime" ng-repeat="flight in runResults() ">
                      <div class="row" >
                        <div class="col-md-2">
                          <label>{{$index + 1}}- {{flight.competitor.name}}</label>
                        </div>
                        <div class="col-md-6">
                          <div class="col-md-3 text-right" ng-repeat="detailResult in flight.detailResults">
                            <span uib-tooltip="{{detailResult.markType.name}}" tooltip-placement="bottom"> {{detailResult.value | number:3}}</span>
                          </div>

                        </div>
                        <div class="col-md-1">
                          <span uib-tooltip="bonus %" tooltip-placement="bottom"> {{flight.bonus}}</span>
                        </div>
                        <div class="col-md-1">
                          <span uib-tooltip="malus %" tooltip-placement="bottom"> {{flight.malus}}</span>
                        </div>
                        <div class="col-md-1">
                          <span uib-tooltip="warnings" tooltip-placement="bottom"> {{flight.warnings}}</span>
                        </div>
                        <div class="col-md-1 text-right">
                          <label>{{flight.computeResult | number:3}}</label>
                        </div>
                      </div>
                    </li>
                  </ul>
                  <div class="separator"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!---->
        <!--<div class="col-md-6">-->
          <!--<div class="region-box">-->
            <!--<div class="region-box-title">-->
              <!--<label><i class="glyphicon glyphicon-list"> Qualify Competitors</i></label>-->
              <!--<a ng-click="pdfRunQualifyList()" class="region-box-action">-->
                <!--<i class="glyphicon glyphicon-save padding">PDF</i>-->
              <!--</a>-->
            <!--</div>-->
            <!--<div class="region-box-content">-->

            <!--</div>-->
          <!--</div>-->
        <!--</div>-->

      </uib-tab>
    </uib-tabset>
  </div>

</div>
