<div class = "container" xmlns = "http://www.w3.org/1999/html" >
<div class="col-md-8">
  <div class="col-md-12">
    <div class="col-md-4 form-group picture-box" ng-cloak="true">
      <img class="admin-picture " alt="pilot picture" ng-src="{{pictureUrl}}" ng-show="!pilotPicture || pilotPicture.length  === 0"/>
      <img ng-show="pilotPicture[0] != null" ngf-src="pilotPicture[0]" class="thumb admin-picture">
      <div class="browse-image">
        <input type="file" ngf-select="" ngf-multiple="false" ngf-accept="'*.jpg,*.png'" ng-model="pilotPicture"/>
      </div>
    </div>
    <div class="col-md-4 form-group">
        <label class="control-label">Name:</label>
        <input type="text" class="form-control" ng-model="pilotInstance.name"/>
      </div>
    <div class="col-md-4 form-group">
        <label class="control-label">Country:</label>
        <div>
          <select class="form-control" ng-model="pilotInstance.country" data-placeholder="Select a country"
                  ng-required="true" name="pilotCountry">
            <!--<option value="">Select a country</option>-->
            <option ng-repeat="country in countries" value="{{country._id}}">{{country.name}}</option>
          </select>
          <!--<ui-select ng-model="pilotInstance.country"-->
                     <!--theme="bootstrap"-->
                     <!--title="Choose a country" required  name="pilotCountry">-->
            <!--<ui-select-match placeholder="Enter a country...">{{$select.selected.name}}</ui-select-match>-->
            <!--<ui-select-choices repeat="country in countries">-->
              <!--<div ng-bind-html="country.name | highlight: $select.search"></div>-->
            <!--</ui-select-choices>-->
          <!--</ui-select>-->
        </div>

    </div>
    <div class="col-md-4 form-group">
      <label class="control-label">Date of the birth:</label>
      <input type="date" class="form-control" uib-datepicker-popup="{{format}}" ng-model="pilotInstance.dateOfBirth" is-open="opened"
             datepicker-options="dateOptions" close-text="Close" />
    </div>
    <div class="col-md-4 form-group">
      <label class="control-label">Job:</label>
      <input type="text" class="form-control" ng-model="pilotInstance.job"/>
    </div>
    <div class="col-md-4 form-group">
      <label class="control-label">Sex:</label>
      <div class="form-group">
        <ng-radio-button-group class="btn-group" data-toggle="buttons-radio" model="pilotInstance.sex"
                               options="sexOptions" id="idPropertySex" name="namePropertySex"
                               suffix="bootstrapSuffix">
        </ng-radio-button-group>
      </div>

    </div>
    <div class="col-md-4 form-group">
      <label class="control-label">Fai licence:</label>
      <div class="form-group">
        <ng-radio-button-group class="btn-group" data-toggle="buttons-radio" model="pilotInstance.hasFaiLicence"
                             options="faiLicenceOptions" id="idPropertyLicence" name="namePropertyLicence" suffix="bootstrapSuffix">
        </ng-radio-button-group>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="col-md-4 form-group">
      <label class="control-label">CIVL Id:</label>
      <input type="text" class="form-control" ng-model="pilotInstance.civlId"/>
    </div>
    <div class="col-md-4 form-group">
      <label class="control-label">CIVL WPRS rank:</label>
      <input type="text" class="form-control" ng-model="pilotInstance.civlRank"/>
    </div>
    <div class="col-md-4 form-group">
      <label class="control-label">CIVL WPRS Synchro rank:</label>
      <input type="text" class="form-control" ng-model="pilotInstance.civlSyncRank"/>
    </div>
  </div>
  <div class="col-md-12">
    <div class="col-md-4 form-group">
      <label class="control-label">APWT Rank:</label>
      <input type="text" class="form-control" ng-model="pilotInstance.apwcRank"/>
    </div>
    <div class="col-md-4 form-group">
      <label class="control-label">APWT Synchro Rank:</label>
      <input type="text" class="form-control" ng-model="pilotInstance.apwcSyncRank"/>
    </div>
    <div class="col-md-4 form-group">
      <label class="control-label">Glide:</label>
      <input type="text" class="form-control" ng-model="pilotInstance.glide"/>
    </div>
  </div>
  <div class="col-md-12">
    <div class="col-md-4 form-group">
      <label class="control-label">Flying since:</label>
      <uib-datepicker ng-model="pilotInstance.flyingSinceYear" datepicker-mode="'year'" min-mode="year" class="well well-sm"></uib-datepicker>

    </div>
    <div class="col-md-8 form-group">
      <label class="control-label">Best Results:</label>
      <input type="text" class="form-control" ng-model="pilotInstance.bestResults"/>
    </div>
  </div>

</div>
<div class="col-md-4">

  <div class="col-md-12">
    <label class="control-label">Sponsors:</label>
    <ng-group-items items="sponsors" selected-items="pilotInstance.sponsors" name="name" id="_id"></ng-group-items>
  </div>
</div>
<div class="col-md-12 form-actions top-separator">
  <button type="button" class="btn btn-primary actions-btn" ng-click="changePilot()" uib-tooltip="Save data changes"
          tooltip-placement="bottom" ladda="isSavingPilot" data-style="expand-right">
    <i class="glyphicon glyphicon-save"> Save</i>
  </button>
  <button type="button" class="btn btn-primary actions-btn" ng-really-do="discardChanges()" ng-really-message="are you sure you want to discard the changes?" uib-tooltip="Discard changes" tooltip-placement="bottom">
    <i class="glyphicon glyphicon-arrow-left"></i>
    Discard Changes
  </button>
  <button type="button" class="btn btn-primary actions-btn" ng-click="updatePilot()" uib-tooltip="Update pilot information from FAI webservice" tooltip-placement="bottom">
    <i class="glyphicon glyphicon-save"></i>
    Update pilot info (FAI)
  </button>
  <button type="button" class="btn btn-primary actions-btn" ng-really-do="deletePilot()" ng-really-message="Are you sure you want to delete the pilot: {{pilotInstance.name}}?">
    <i class="glyphicon glyphicon-minus-sign"></i>
    Delete
  </button>
</div>
</div>
