#map {
  height:320px;
  width:480px;
}
.infoWindowContent {
  font-size:  14px !important;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}
h2 {
  margin-bottom:0;
  margin-top: 0;
}


.event-title{
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
  margin-bottom: .5em;
}

.event-live{
  margin-top: 2em;
  padding: .3em;
  background: @logo-color;
  color: @font-light-color;
  font-size: 42px;
}

.main-row{
  margin-bottom: 2em;
}

.event-dates{
  font-size: large;
  text-align: center;
}

.main-picture{
  width: 300px;
  height: 300px;
}

.events-box{
  background-color: #FFFFFF;
  padding: 1em;
  min-height: 500px;
//  border: 1px solid #1B2E4F;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-radius: 6px;
}

.event-box{
  border: 1px solid @logo-color;
  border-radius: 6px;
  padding: 1em;
  background-color: @logo-bg-color;
  min-height: 400px;
}

.event-logo{
  border: 1px solid #1B2E4F;
  padding: .2em;
  cursor: pointer;
}

.season-title{
  font-size: large;
  text-align: center;
  font-weight: bold;
  color: #1B2E4F;
  border-bottom: 1px solid  #1B2E4F;
  margin-bottom: 1em;
}

.event-info{
  text-align: center;
}

.event-title{
  font-size: large;
  text-align: center;
  font-weight: bold;
  color: #1B2E4F;
}

.event-date{
  text-align: center;
}

.event-view{
  margin: 2em 0;
  .btn-primary{
    font-size: large;
    text-align: left;
  }
}

.event-sponsors{
  border-top: 1px solid #E7E7E7;
  padding-top: 1em;
  margin-top: 3em;
  ul {
    list-style-type: none;
    text-align: center;
    li {
      display: inline;
    }
  }
}
