<!--<header class="hero-unit" id="banner">-->
  <!--<div class="container">-->
    <!--HEADER-->
  <!--</div>-->
<!--</header>-->

<div class="container">
  <div class="col-md-12 events-box">
    <div class="col-md-6" ng-repeat="event in publicEvents">
      <div class="col-md-12 event-box">
        <div class="col-md-12 season-title">
          <p>{{event.season.name}}</p>
        </div>
        <div class="col-md-12">
          <div class=" col-md-5 event-logo">
            <a ng-click="openDisplay(event)">
              <img ng-src="/api/events/{{event._id}}/logo"  width="100%">
            </a>
          </div>
          <div class="col-md-7 event-info">

            <p class="event-title"> {{event.name}} </p>
            <p class="event-date"> {{event.startDate | date : 'MMMM d'}}  - {{event.endDate | date: 'MMMM d'}}</p>
            <div class="col-md-12 event-view">

              <a class="btn btn-primary" ng-click="openDisplay(event)">
                <i class="glyphicon glyphicon-play"></i>
                 Follow the event!!
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-12 event-sponsors">
          <ul>
            <li ng-repeat="sponsor in event.sponsors">
              <a href="{{sponsor.website}}">
                <img ng-src="/api/sponsors/{{sponsor._id}}/logo" height="70" alt="SPONSOR IMG">
              </a>
            </li>
          </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<footer class="footer">-->
  <!--<div class="container ">-->
    <!--<p class="pull-right"> Acropyx v2.0 </p>-->
  <!--</div>-->
<!--</footer>-->
