<div class="modal-header">
  <h3 class="modal-title">Add a new Manoeuvre</h3>
</div>
<form name="frmAddManoeuvre" class="form-horizontal" novalidate role="form" ng-submit="addManoeuvre()">
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-6" ng-class="{ 'has-error' : frmAddManoeuvre.manoeuvreName.$invalid && !frmAddManoeuvre.manoeuvreName.$pristine }">
          <label class="control-label">Name:</label>
          <input type="text" class="form-control" placeholder="Type the manoeuvre name" ng-model="newManoeuvre.name" name="manoeuvreName" ng-required="true"/>
          <small ng-show="frmAddManoeuvre.manoeuvreName.$invalid && !frmAddManoeuvre.manoeuvreName.$pristine" class="help-block">
            Manoeuvre name is required.
          </small>

        </div>
        <div class="col-md-6" ng-class="{ 'has-error' : frmAddManoeuvre.manoeuvreCoefficient.$invalid && !frmAddManoeuvre.manoeuvreCoefficient.$pristine }">
          <label class="control-label">Coefficient:</label>
          <input type="text" class="form-control" placeholder="Type the manoeuvre coefficient" ng-model="newManoeuvre.coefficient" name="manoeuvreCoefficient" ng-required="true"/>
          <small ng-show="frmAddManoeuvre.manoeuvreCoefficient.$invalid && !frmAddManoeuvre.manoeuvreCoefficient.$pristine" class="help-block">
            Manoeuvre coefficient is required.
          </small>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-4" ng-class="{ 'has-error' : frmAddManoeuvre.manoeuvreTwistedBonus.$invalid && !frmAddManoeuvre.manoeuvreTwistedBonus.$pristine }">
          <label class="control-label">Bonus% (Twisted):</label>
          <input type="number" min="0" class="form-control" ng-model="newManoeuvre.twistedBonus" name="manoeuvreTwistedBonus" ng-required="true"/>
          <small ng-show="frmAddManoeuvre.manoeuvreTwistedBonus.$invalid && !frmAddManoeuvre.manoeuvreTwistedBonus.$pristine" class="help-block">
            Twisted manoeuvre bonus is required.
          </small>
          <small class="help-comment">0 for no twisted manoeuvres</small>
        </div>
        <div class="col-md-4" ng-class="{ 'has-error' : frmAddManoeuvre.manoeuvreFlippedBonus.$invalid && !frmAddManoeuvre.manoeuvreFlippedBonus.$pristine }">
          <label class="control-label">Bonus% (Flipped):</label>
          <input type="number" min="0" class="form-control" ng-model="newManoeuvre.flippedBonus" name="manoeuvreFlippedBonus" ng-required="true"/>
          <small ng-show="frmAddManoeuvre.manoeuvreFlippedBonus.$invalid && !frmAddManoeuvre.manoeuvreFlippedBonus.$pristine" class="help-block">
            Flipped manoeuvre bonus is required.
          </small>
          <small class="help-comment">0 for no flipped manoeuvres</small>
        </div>
        <div class="col-md-4" ng-class="{ 'has-error' : frmAddManoeuvre.manoeuvreReversedBonus.$invalid && !frmAddManoeuvre.manoeuvreReversedBonus.$pristine }">
          <label class="control-label">Bonus% (Reversed):</label>
          <input type="number" min="0" class="form-control" ng-model="newManoeuvre.reversedBonus" name="manoeuvreReversedBonus" ng-required="true"/>
          <small ng-show="frmAddManoeuvre.manoeuvreReversedBonus.$invalid && !frmAddManoeuvre.manoeuvreReversedBonus.$pristine" class="help-block">
            Reversed manoeuvre bonus is required.
          </small>
          <small class="help-comment">0 for no reversed manoeuvres</small>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-6">
          <label class="control-label">Different sides:</label>
          <div>
            <ng-radio-button-group class="btn-group" data-toggle="buttons-radio" model="newManoeuvre.hasSides" options="sideOptions" id="idProperty" name="nameProperty" suffix="bootstrapSuffix"></ng-radio-button-group>
          </div>
        </div>
        <div class="col-md-6">
          <label class="control-label">Only Synchro:</label>
          <div>
            <ng-radio-button-group class="btn-group" data-toggle="buttons-radio" model="newManoeuvre.onlySynchro" options="synchroOptions" id="idProperty" name="nameProperty" suffix="bootstrapSuffix"></ng-radio-button-group>
          </div>
        </div>



      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary actions-btn" ng-disabled="!frmAddManoeuvre.$valid">
      <i class="glyphicon glyphicon-save"> </i>
      Save
    </button>
    <button type="button" class="btn btn-primary actions-btn" ng-click="cancel()">
      <i class="glyphicon glyphicon-remove"> Cancel</i>
    </button>
  </div>
</form>
