<div class="col-md-12 group-box">
  <div class="col-md-12">
    <form class="form-inline pull-right" >
      <input type="text" class="form-control" placeholder="Select a item"
             ng-keypress="($event.which === 13 && selectedItem)?addItem(selectedItem):0"
             ng-model="selectedItem" uib-typeahead="i as i.name for i in items | filter:$viewValue | limitTo:10"
             typeahead-min-length='1' typeahead-on-select='onSelectPart($item, $model, $label)'
      />
      <button type="button" class="btn btn-primary" ng-click="addItem(selectedItem)"
              ng-disabled="!selectedItem || !selectedItem._id">
        <i class="glyphicon glyphicon-plus-sign" ></i>
        Add
      </button>
    </form>
  </div>

  <div class="item-box" ng-repeat="item  in selectedItems">
    <label class="item-info" >{{getName(item)}}</label>
    <a ng-click="removeItem(item)">
      <i class="glyphicon glyphicon-remove"></i>
    </a>
  </div>
  <div class="separator"></div>
</div>
