/* groups */
.group-box{
  //  margin-top: 1em;
  border: 1px solid @logo-color !important;
  padding: 1em;
  .item-box{
    padding: .3em .8em;
    float: left;
    margin: 1em;
    background: @logo-bg-color;
    color: @font-dark-color;
    border: 1px solid @separator-color;
    border-radius: @border-radius-base;
    .item-info{
      margin-right: 1em;
    }
    a, a:focus, a:active{
      color: @logo-color;
      cursor: pointer;
    }
    img{
      width: 120px;
      height: 120px;
    }
  }
}
.group-box-padding{
  padding-left: 15px;
  padding-right: 15px;
}
