<div class="col-md-12 slide-title" xmlns="http://www.w3.org/1999/html">
  <div class="slide-left-control">
    <div class="btn-group zoom-100" uib-dropdown>
      <button type="button" class="btn btn-primary zoom-70 large-font" ng-click="previousFlight()"
              ladda="isLoadingPreviousFlight" data-style="expand-right"
              ng-disabled = "currentFlight < 1">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Previous
      </button>
      <button type="button" class="btn btn-primary large-font" uib-dropdown-toggle
              ng-disabled = "currentFlight < 1">
        <span class="caret"></span>
        <span class="sr-only">Split button!</span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" ng-show="currentFlight>=1">
        <li ng-repeat="f in getPreviousFlights()">
          <a ng-click="setFlight(-(currentFlight - $index))">
            {{f.competitor.name}}
          </a>
        </li>
      </ul>
    </div>
    <!--<label class="glyphicon glyphicon-chevron-left" ng-click="previousFlight()">  </label>-->
  </div>
  {{flights[currentFlight].competitor.name}} ( {{flights[currentFlight].order + 1}}/{{flights.length}} )
  <div class="slide-right-control">
    <div class="btn-group zoom-100" uib-dropdown>
      <button type="button" class="btn btn-primary zoom-70 large-font" ng-click="nextFlight()"
              ladda="isLoadingNextFlight" data-style="expand-right"
              ng-disabled = "currentFlight >= flights.length -1">
        <i class="glyphicon glyphicon-chevron-right"></i>
        Next
      </button>
      <button type="button" class="btn btn-primary large-font" uib-dropdown-toggle
              ng-disabled = "currentFlight >= flights.length -1">
        <span class="caret"></span>
        <span class="sr-only">Split button!</span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" ng-show = "currentFlight < flights.length -1">
        <li ng-repeat="f in getNextFlights()">
          <a ng-click="setFlight($index+1)">
            {{f.competitor.name}}
          </a>
        </li>
      </ul>
    </div>
    <!--<label class="glyphicon glyphicon-chevron-right" ng-click="nextFlight()">  </label>-->
  </div>
</div>
<div class="slide-content">
  <show-flight flight="flights[currentFlight]"></show-flight>
</div>

