.slide-title{
  text-align: center;
  padding: .2em .5em;
  background-color: @logo-color;
  color:@font-light-color;
  font-size: large;
}
.slide-left-control{
  float:left;
  width: 12%;
  text-align: left;
  label{
    cursor: pointer;
  }

}
.slide-right-control{
  float:right;
  width: 12%;
  text-align: right;
  label{
    cursor: pointer;
  }
}
