<div class = "container" xmlns = "http://www.w3.org/1999/html" >
  <div class="col-md-8">
    <div class="col-md-4 form-group picture-box">
      <img class="admin-picture" alt="Sponsor Logo" ng-src="{{logoUrl}}" ng-show="!sponsorLogo || sponsorLogo.length  === 0">
      <img ng-show="sponsorLogo[0] != null" ngf-src="sponsorLogo[0]" class="thumb admin-picture">
      <div class="browse-image">
        <input type="file" ngf-select="" ngf-multiple="false" ngf-accept="'*.jpg,*.png'" ng-model="sponsorLogo"/>
      </div>

    </div>
    <div class="col-md-8 form-group">
      <label class="control-label">Name:</label>
      <input type="text" class="form-control" ng-model="sponsorInstance.name" ng-require/>
    </div>
    <div class="col-md-8 form-group">
      <label class="control-label">Website:</label>
      <input type="text" class="form-control" ng-model="sponsorInstance.website" ng-require/>
    </div>
  </div>

  <div class="col-md-8 form-actions top-separator">
    <button type="button" class="btn btn-primary actions-btn" ng-click="changeSponsor()" uib-tooltip="Save data changes" tooltip-placement="bottom" ladda="isSavingSponsor" data-style="expand-right">
      <i class="glyphicon glyphicon-save"> Save</i>
    </button>
    <button type="button" class="btn btn-primary actions-btn" ng-really-do="discardChanges()" ng-really-message="are you sure you want to discard the changes?" uib-tooltip="Discard changes" tooltip-placement="bottom">
      <i class="glyphicon glyphicon-arrow-left"></i>
      Discard Changes
    </button>
    <button type="button" class="btn btn-primary actions-btn" ng-really-do="deleteSponsor()" ng-really-message="Are you sure you want to delete the sponsor: {{sponsorInstance.name}}?">
      <i class="glyphicon glyphicon-minus-sign"></i>
      Delete
    </button>
  </div>
</div>
