.manager-image{
  width: 120px;
  height: 120px;
}
.flight-box-padding{
  padding: .5em 0 .5em 0 !important;
}

.large-modal {
  .modal-dialog {
    width: 98% !important;
    //max-width: 1280px !important;
    overflow: auto !important;
    .modal-title, .modal-footer {
      text-align: center;
    }

    .modal-body{
      .group-box {
        min-height: 80px;
        max-height: 80px;
        overflow: auto;
        padding: 0 !important;
        .item-box {
          padding: .2em .5em 0 .5em !important;
          margin: .3em .5em !important;
          font-size: 12px;
        }
      }

      .manoeuvres-box{
        margin-top: .5em;
        border: 0 !important;
        padding: .5em;

        .item-box{
          float: left;
          padding: 0 !important;
          margin: .5em 1em;
          button{
            font-size: 12px;
          }
          .item-bonus{
            min-width: 190px;
            font-weight: bold;
          }
        }
        .sides-manoeuvre{
          min-width: 160px;
        }
      }

      .title-box{
        padding: 0;
        margin: 0;
      }

      .background-row{
        background-color: #e3e3e3;
        border: 0;
      }

      .judge-box{
        margin-top: .5em;
      }
    }


  }
}

.judge-vote{
  float:right;
  margin: 0 3em;
  width: 3em;
  text-align: right;
}

.region-box-content{
  .row {
    padding: 0;
    margin: 0;
  }
}

.flight-result{
  background-color: @logo-color;
  color: @logo-bg-color;
  text-align: center;
  margin-top: 3px !important;
  font-size: xx-large;
}


.flight-warning-action{
  padding: 0 !important;
}

.large-font{
  font-size: medium;
}

.zoom-100{
  width: 100%;
}

.zoom-70{
  width: 70%;
}

.flight-points{
  font-size: large;
}

.flight-votes{
  padding: 0;
  .region-box{
    margin: 0 0 0 10px;
  }
}

.flight-manoeuvres {
  padding: 0;
  .region-box{
    margin: 0 10px 0 0;
  }
}


.xx-large-font{
  font-size: xx-large;
}













