<div class="col-md-12 flight-box-padding">
  <div class="col-md-2 flight-box-padding">
    <div class="col-md-12 flight-box-padding" ng-show="!flight.startTime">
      <div class="btn-group zoom-100" uib-dropdown>
        <button type="button" class="btn btn-primary zoom-70 large-font" ng-click="startFlight(true)" ladda="isStartingFlight" data-style="expand-right">
          <i class="glyphicon glyphicon-facetime-video"></i>
          Start Flight
        </button>
        <button type="button" class="btn btn-primary large-font" uib-dropdown-toggle>
          <span class="caret"></span>
          <span class="sr-only">Split button!</span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu">
          <li>
            <a ng-click="startFlight(true)">
              <i class="glyphicon glyphicon-facetime-video"></i>
              <b>Start Flight</b>
            </a>
          </li>
          <li>
            <a ng-click="startFlight(false)">
              <i class="glyphicon glyphicon-play"></i>
              Start Flight (NO Display)
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-12 flight-box-padding" ng-show="flight.startTime">
      <a class="btn btn-danger zoom-70 large-font"  ladda="isResettingFlight" data-style="expand-right"
         ng-really-do="resetFlight()" ng-really-message="Are you sure you want to reset the flight?">
        <i class="glyphicon glyphicon-exclamation-sign"></i>
        Reset Flight
      </a>
    </div>
    <div class="col-md-12 flight-box-padding" ng-show="flight.startTime">
      <a class="btn btn-primary zoom-70 large-font" ng-click="displayFlight()" ladda="isShowingFlight" data-style="expand-right">
        <i class="glyphicon glyphicon-facetime-video">  </i>
        Display Flight
      </a>
    </div>
    <div class="col-md-12 flight-box-padding" ng-show="flight.startTime && flight.endTime">
      <a class="btn btn-primary zoom-70 large-font" ng-click="displayFlightResults()" ladda="isShowingFlightResults" data-style="expand-right">
        <i class="glyphicon glyphicon-facetime-video"></i>
        Display Results
      </a>
    </div>

    <div class="col-md-12 flight-box-padding" ng-show="flight.startTime && !flight.endTime && flight.votes && flight.votes.length > 0">
      <div class="btn-group  zoom-100" uib-dropdown>
        <button type="button" class="btn btn-primary zoom-70  large-font" ng-click="endFlight(true)" ladda="isEndingFlight" data-style="expand-right">
          <i class="glyphicon glyphicon-facetime-video"></i>
          End Flight
        </button>
        <button type="button" class="btn btn-primary large-font" uib-dropdown-toggle>
          <span class="caret"></span>
          <span class="sr-only">Split button!</span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu  role="menu">
          <li>
            <a ng-click="endFlight(true)">
              <i class="glyphicon glyphicon-facetime-video"></i>
              <b>End Flight</b>
            </a>
          </li>
          <li>
            <a ng-click="endFlight(false)">
              <i class="glyphicon glyphicon-play"></i>
              End Flight (NO Display)
            </a>
          </li>
        </ul>
      </div>
    </div>

  </div>
  <div class="col-md-8"  ng-show="flight.startTime">
    <div class="col-md-12">
      <div class="col-md-3" ng-repeat="markType in markTypes">
        <label>{{markType.name}}:</label>
        <input type="text" class="form-control large-font" value="{{flightResults[markType._id] | number: 3}}" ng-readonly="true">
      </div>
    </div>
    <div class="col-md-12">
      <div class="col-md-3 form-group">
        <label>Bonus (%):</label>
        <input class="form-control large-font" type="text" value="{{flight.bonus}}" ng-readonly="true">
      </div>
      <div class="col-md-3 form-group">
        <label>Malus (%):</label>
        <input class="form-control large-font" type="text" value="{{flight.malus}}" ng-readonly="true">
      </div>
      <div class="col-md-3 form-group">
        <label>Mean:</label>
        <input class="form-control large-font" type="text" value="{{flight.mean | number: 3}}" ng-readonly="true">
      </div>
    </div>
  </div>
  <div class="col-md-2 background-box"  ng-show="flight.startTime">
    <div class="col-md-12">
      <label>Warnings:</label>
      <div class="col-md-12">
        <div class="col-md-3 flight-warning-action no-padding">
          <button class="btn btn-primary form-control" ng-really-do="removeWarning()" ng-really-message="Are you sure you want to remove a warning?"
                  ladda="isRemovingWarning" data-style="zoom-in" ng-disable="flight.warnings === 0">
            <i class="glyphicon glyphicon-minus" ng-show="!isRemovingWarning"></i>
          </button>
        </div>
        <div class="col-md-6 text-center">
          <!--<input class="form-control" type="number" min="0" max="3" ng-model="flight.warnings" ng-readonly="true">-->
          <label class="form-control large-font">{{flight.warnings}}</label>
        </div>
        <div class="col-md-3 flight-warning-action">
          <button class="btn btn-primary form-control" ng-really-do="addWarning()" ng-really-message="Are you sure you want to add a warning?"
                  ladda="isAddingWarning" data-style="zoom-in">
            <i class="glyphicon glyphicon-plus" ng-show="!isAddingWarning"></i>
          </button>
        </div>
      </div>
    </div>
    <!--<div class="col-md-12" ng-show="flight.computeResult === -1">-->
      <!--<div class="col-md-12">-->
        <!--<h1 class=" flight-result"> DSQ </h1>-->
      <!--</div>-->
    <!--</div>-->
    <div class="col-md-12 " ng-show="flight.votes.length > 0">
      <label>Result:</label>
      <div class="col-md-12">
        <h1 class="flight-result" ng-show="flight.computeResult >= 0"> {{flight.computeResult | number: 3}}</h1>
        <h1 class="flight-result" ng-show="flight.computeResult === -1"> DSQ </h1>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12 flight-box-padding"  ng-show="flight.startTime">
  <div class="col-md-6 flight-manoeuvres">
    <div class="col-md-12" ng-show="flight.manoeuvres && flight.manoeuvres.length === 0">
      <button  class="btn btn-primary btn-block xx-large-font " ng-click="openFlightManoeuvres()">
        <i class="glyphicon glyphicon-plus"></i>
        Add Manoeuvres
      </button>
    </div>

    <div class="region-box no-margin" ng-show="flight.manoeuvres && flight.manoeuvres.length > 0">
      <div class="region-box-title">
        <label><i class="glyphicon glyphicon-ok-circle"></i> Manoeuvres</label>
        <a class="region-box-action" ng-click="openFlightManoeuvres()"
           ng-show="flight.manoeuvres && flight.manoeuvres.length > 0">
          <i class="glyphicon glyphicon-pencil" uib-tooltip="Modify manoeuvres" tooltip-placement="top"></i>
        </a>
      </div>

      <div class="region-box-content">

        <ul class="list-group" ng-show="flight.manoeuvres && flight.manoeuvres.length > 0">
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-8">
                <div class="col-md-4 text-center">
                  <label> Coefficient</label>
                </div>
                <div class="col-md-4 text-right">
                  <div class="col-md-6">
                    <label> Bonus</label>
                  </div>
                </div>
                <div class="col-md-4 text-center">
                  <label> Malus</label>
                </div>
              </div>
            </div>
          </li>
          <li class="list-group-item" ng-repeat="flightManoeuvre in flight.manoeuvres">
            <div class="row">
              <div class="col-md-4">
                <label>
                  <span>
                    {{getBonusType(flightManoeuvre.bonusType)| uppercase}}
                  </span>

                  {{flightManoeuvre.manoeuvre.name | uppercase}}
                </label> <span ng-show="flightManoeuvre.side">({{flightManoeuvre.side}})</span>
              </div>
              <div class="col-md-8">
                <div class="col-md-4 text-center">
                  <span class="flight-points">{{flightManoeuvre.manoeuvre.coefficient}}</span>
                </div>
                <div class="col-md-4 text-right">
                  <div class="col-md-6">
                    <span class="flight-points" ng-show="flightManoeuvre.bonusType.length > 0">
                      {{getBonusPercent(flightManoeuvre)}}%
                    </span>
                  </div>
                  <div class="col-md-6 no-padding">
                    <span class=" flight-points pull-left glyphicon glyphicon-thumbs-up" ng-show="flightManoeuvre.applyBonus">
                    </span>
                  </div>
                </div>
                <div class="col-md-4 text-center">
                   <span class="flight-points glyphicon glyphicon-thumbs-down" ng-show="flightManoeuvre.applyMalus">
                    </span>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-6 flight-votes">
    <div class="col-md-12">
      <button  class="btn btn-primary btn-block xx-large-font" ng-click="openFlightVotes()"
               ng-show="!flight.votes || flight.votes.length === 0">
        <i class="glyphicon glyphicon-plus"></i>
        Add Votes
      </button>
    </div>
    <div class="region-box" ng-show="flight.votes && flight.votes.length > 0">
      <div class="region-box-title">
        <label><i class="glyphicon glyphicon-ok-circle"></i> Votes</label>
        <a class="region-box-action" ng-click="openFlightVotes()"
           >
          <i class="glyphicon glyphicon-pencil" uib-tooltip="Modify votes" tooltip-placement="top"></i>
        </a>
      </div>
      <div class="region-box-content">

        <ul class="list-group" ng-show="flight.votes && flight.votes.length > 0">
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-9">
                <div class="col-md-3 text-center" ng-repeat="markType in markTypes">
                  <label> {{markType.name}}</label>
                </div>
              </div>
            </div>
          </li>
          <li class="list-group-item" ng-repeat="judge in judges">
            <div class="row">
              <div class="col-md-3">
                <label>{{judge.name}}</label>
              </div>
              <div class="col-md-9">
                <div class="col-md-3 text-center" ng-repeat="vote in judge.votes">
                  <span class="flight-points">
                    {{vote.points}}
                  </span>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

