.manoeuvre-box {
  float: left;
  margin: .5em;
  text-align: center;
  padding: .1em .2em .1em .2em;
  //background: whitesmoke;
  min-width: 280px;
  height: 50px;
  .manoeuvre-name{
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    min-width: 200px;
  }

}
