<div class="manoeuvre-box" ng-if="!model.manoeuvre.onlySynchro || model.isSynchro" >
  <div>
    <button ng-if="model.manoeuvre.hasSides" ng-click="model.add('Left')">
      L
    </button>
    <button class="manoeuvre-name" ng-if="model.isSynchro || !model.manoeuvre.hasSides" ng-click="model.add()">
      {{model.manoeuvre.name}}
    </button>
    <label class="manoeuvre-name" ng-if="!model.isSynchro && model.manoeuvre.hasSides">
      {{model.manoeuvre.name}}
    </label>
    <button ng-if="model.manoeuvre.hasSides" ng-click="model.add('Right')">
      R
    </button>
  </div>
  <div class="variations-box">
    <span ng-if="model.manoeuvre.twistedBonus > 0">
      <input type="checkbox" id="{[model.manoeuvre._id}}_twisted" ng-change="model.changeTwisted()" ng-model="model.isTwisted">
      <label for="{[model.manoeuvre._id}}_twisted">Twisted</label>
    </span>
    <span ng-if="model.manoeuvre.flippedBonus > 0">
      <input type="checkbox" id="{[model.manoeuvre._id}}_flipped" ng-change="model.changeFlipped()" ng-model="model.isFlipped">
      <label for="{[model.manoeuvre._id}}_flipped">Flipped</label>
    </span>
    <span ng-if="model.manoeuvre.reversedBonus > 0">
      <input type="checkbox" id="{[model.manoeuvre._id}}_reversed" ng-change="model.changeReversed()" ng-model="model.isReversed">
      <label for="{[model.manoeuvre._id}}_reversed">Reversed</label>
    </span>
  </div>

</div>

