<div class="modal-header">
  <h3 class="modal-title">{{seasonInstance.name}} Rankings</h3>
</div>
<div class="modal-body">
  <div class="row">
    <uib-tabset class="">
      <uib-tab heading="SOLO">
        <div class="col-md-12">
          <div class="region-box">
            <div class="region-box-title">
              <label><i class="glyphicon glyphicon-list"></i> Ranking Solo</label>
              <a ng-click="pdfSeasonRanking(seasonInstance._id, 'Solo')" class="region-box-action">
                <i class="glyphicon glyphicon-save padding">PDF</i>
              </a>
            </div>
            <div class="region-box-content">
              <div class="col-md-12">
                <ul class="list-group">
                  <li class="list-group-item" ng-repeat="result in seasonInstance.soloRanking">
                    <div class="row">
                      <div class="col-md-3">
                        {{$index+1}}- <label>{{result.competitor.name}}</label>
                      </div>
                      <div class="col-md-7">
                        <div class="col-md-3 text-right" ng-repeat="competitionResult in result.competitions">
                          <span ng-show="competitionResult.result !== null" uib-tooltip="{{competitionResult.competition}}" tooltip-placement="bottom"> {{competitionResult.result | number: 3}}</span>
                          <span ng-show="competitionResult.result === null" uib-tooltip="{{competitionResult.competition}}" tooltip-placement="bottom"> ---</span>
                        </div>
                      </div>
                      <div class="col-md-2 text-right">
                        <label>{{result.points | number: 3}}</label>
                      </div>
                      <div class="separator"></div>
                    </div>
                  </li>
                </ul>
                <div class="separator"></div>
              </div>
            </div>
          </div>
        </div>
      </uib-tab>
      <uib-tab heading="SYNCHRO">
        <div class="col-md-12">
          <div class="region-box">
            <div class="region-box-title">
              <label><i class="glyphicon glyphicon-list"></i> Ranking Sync</label>
              <a ng-click="pdfSeasonRanking(seasonInstance._id, 'Synchro')" class="region-box-action">
                <i class="glyphicon glyphicon-save padding">PDF</i>
              </a>
            </div>
            <div class="region-box-content">
              <div class="col-md-12">
                <ul class="list-group">
                  <li class="list-group-item" ng-repeat="result in seasonInstance.synchroRanking">
                    <div class="row">
                      <div class="col-md-3">
                        {{$index+1}}- <label>{{result.competitor.name}}</label>
                      </div>
                      <div class="col-md-7">
                        <div class="col-md-3 text-right" ng-repeat="competitionResult in result.competitions">
                          <span ng-show="competitionResult.result !== null" uib-tooltip="{{competitionResult.competition}}" tooltip-placement="bottom"> {{competitionResult.result | number: 3}}</span>
                          <span ng-show="competitionResult.result === null" uib-tooltip="{{competitionResult.competition}}" tooltip-placement="bottom"> ---</span>
                        </div>
                      </div>
                      <div class="col-md-2 text-right">
                        <label>{{result.points | number: 3}}</label>
                      </div>
                      <div class="separator"></div>
                    </div>
                  </li>
                </ul>
                <div class="separator"></div>
              </div>
            </div>
          </div>
        </div>
      </uib-tab>
    </uib-tabset>


  </div>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary actions-btn" ng-click="close()">
    <i class="glyphicon glyphicon­log­out"> Close</i>
  </button>
</div>

