<div class="modal-header">
  <h3 class="modal-title">{{runInstance.name}}</h3>
</div>
<div class="modal-body">
  <div class="row">
    <div class="region-box">
      <div class="region-box-title">
        <label><i class="glyphicon glyphicon-list"></i> Starting Order</label>
        <a ng-click="generateRunStartingOrderPDF()" class="region-box-action">
          <i class="glyphicon glyphicon-save padding">PDF</i>
        </a>
      </div>
      <div class="region-box-content">
        <ul class="list-group" ng-if="runInstance.type.name === 'Standard'">
          <li class="list-group-item"  ng-repeat="flight  in runInstance.flights">
            <label>{{flight.order+1}}- {{flight.competitor.name}}</label>
          </li>
        </ul>
        <div class="col-md-12" ng-if="runInstance.type.name === 'Battle'"
             ng-class-even="'even-row'" ng-class-odd="'odd-row'" ng-repeat="battle  in battles">
          <div class="col-md-5">
            {{$index + 1}} -
            <label> {{battle.firstFlight.competitor.name}}</label>

          </div>
          <div class="col-md-2">
             ------
          </div>
          <div class="col-md-5">
            <label> {{battle.secondFlight.competitor.name}}</label>
          </div>
        </div>

        <div class="separator"></div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary actions-btn" ng-click="close()">
    <i class="glyphicon glyphicon­log­out"> Close</i>
  </button>
</div>

