<div class="modal-header">
  <h3 class="modal-title">{{competitionInstance.name}} Results</h3>
</div>
<div class="modal-body">
  <div class="row">
    <div class="region-box">
      <div class="region-box-title">
        <label><i class="glyphicon glyphicon-list"></i> Results</label>
        <a ng-click="generateCompetitionResultsPDF()" class="region-box-action">
          <i class="glyphicon glyphicon-save padding">PDF</i>
        </a>

      </div>
      <div class="region-box-content">
        <div class="col-md-12">
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="result in competitionResults">
              <div class="row">
                <div class="col-md-3">
                  <label>{{$index + 1}}- {{result.competitor.name}}</label>
                </div>
                <div class="col-md-7">
                  <div class="col-md-3 text-right" ng-repeat="runResult in result.runResults">
                    <span uib-tooltip="{{runResult.name}}" tooltip-placement="bottom"> {{runResult.points | number: 3}}</span>
                  </div>
                </div>
                <div class="col-md-1">
                  <span uib-tooltip="warnings" tooltip-placement="bottom">  {{result.warnings}}</span>
                </div>
                <div class="col-md-1 text-right">
                  <label>{{result.overall | number: 3}}</label>
                </div>
                <div class="separator"></div>
              </div>
            </li>
          </ul>
          <div class="separator"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary actions-btn" ng-click="close()">
    <i class="glyphicon glyphicon­log­out"> Close</i>
  </button>
</div>

