<div class="modal-header">
  <h3 class="modal-title">{{runInstance.competition.name}} - {{runInstance.name}}</h3>
</div>
<div class="modal-body">
  <div class="row" ng-if="battles">
    <div class="region-box">
      <div class="region-box-title">
        <label><i class="glyphicon glyphicon-list"> </i> Battles</label>
        <a ng-click="generateRunBattleResultsPDF()" class="region-box-action">
          <i class="glyphicon glyphicon-save padding">PDF</i>
        </a>
      </div>
      <div class="region-box-content">
        <div class="col-md-12">
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="battle in battles">
              <div class="row">
                <div class="col-md-6">
                  <div class="col-md-4 ">
                    <label>{{battle.firstFlight.competitor.name}}</label>
                  </div>
                  <div class="col-md-5">
                    <div class="col-md-3" ng-repeat="detailResult in battle.firstFlight.detailResults">
                      <span uib-tooltip="{{detailResult.markType.name}}" tooltip-placement="bottom"> {{detailResult.value | number:3}}</span>
                    </div>
                  </div>
                  <div class="col-md-2 text-right">
                    <label>{{battle.firstFlight.computeResult | number:3}}</label>
                  </div>
                  <div class="col-md-1 text-center">
                    <i class="glyphicon glyphicon-ok-circle"
                       ng-if="battle.firstFlight.computeResult > battle.secondFlight.computeResult">
                    </i>
                    <i class="glyphicon glyphicon-remove-circle"
                       ng-if="battle.firstFlight.computeResult < battle.secondFlight.computeResult">
                    </i>
                    <i class="glyphicon glyphicon-question-sign"
                       ng-if="battle.firstFlight.computeResult === battle.secondFlight.computeResult">
                    </i>
                  </div>
                </div>
                <!--<div class="col-md-2 text-center">-->
                  <!--VS-->
                <!--</div>-->

                <div class="col-md-6">
                  <div class="col-md-4">
                    <label>{{battle.secondFlight.competitor.name}}</label>
                  </div>
                  <div class="col-md-5">
                    <div class="col-md-3" ng-repeat="detailResult in battle.secondFlight.detailResults">
                      <span uib-tooltip="{{detailResult.markType.name}}" tooltip-placement="bottom"> {{detailResult.value | number:3}}</span>
                    </div>
                  </div>

                  <div class="col-md-2 text-right">
                    <label>{{battle.secondFlight.computeResult | number:3}}</label>
                  </div>
                  <div class="col-md-1 text-center">
                    <i class="glyphicon glyphicon-check"
                       ng-if="battle.firstFlight.computeResult < battle.secondFlight.computeResult">
                    </i>
                    <i class="glyphicon glyphicon-remove"
                       ng-if="battle.firstFlight.computeResult > battle.secondFlight.computeResult">
                    </i>
                    <i class="glyphicon glyphicon-question-sign"
                       ng-if="battle.firstFlight.computeResult === battle.secondFlight.computeResult">
                    </i>
                  </div>
                </div>
              </div>

            </li>
          </ul>
          <div class="separator"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="region-box">
      <div class="region-box-title">
        <label><i class="glyphicon glyphicon-list"></i> Results (ENDED FLIGHTS)</label>
        <a ng-click="generateRunResultsPDF()" class="region-box-action">
          <i class="glyphicon glyphicon-save padding">PDF</i>
        </a>
      </div>
      <div class="region-box-content">
        <div class="col-md-12">
          <ul class="list-group">
            <li class="list-group-item" ng-if="flight.endTime" ng-repeat="flight in runResults() ">
              <div class="row" >
                <div class="col-md-2">
                  <label>{{$index + 1}} - {{flight.competitor.name}}</label>
                </div>
                <div class="col-md-6">
                  <div class="col-md-3 text-right" ng-repeat="detailResult in flight.detailResults">
                    <span uib-tooltip="{{detailResult.markType.name}}" tooltip-placement="bottom"> {{detailResult.value | number:3}}</span>
                  </div>

                </div>
                <div class="col-md-1">
                  <span uib-tooltip="bonus %" tooltip-placement="bottom"> {{flight.bonus}}</span>
                </div>
                <div class="col-md-1">
                  <span uib-tooltip="malus %" tooltip-placement="bottom"> {{flight.malus}}</span>
                </div>
                <div class="col-md-1">
                  <span uib-tooltip="warnings" tooltip-placement="bottom"> {{flight.warnings}}</span>
                </div>
                <div class="col-md-1 text-right">
                  <label>{{flight.computeResult | number:3}}</label>
                </div>
              </div>
            </li>
          </ul>
          <div class="separator"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary actions-btn" ng-click="close()">
    <i class="glyphicon glyphicon­log­out"> Close</i>
  </button>
</div>

