<div class="modal-header">
  <h3 class="modal-title">{{runInstance.competition.name}} - {{runInstance.name}}</h3>
  <h4 class="modal-title"> Start Confirmation</h4>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-6">
      <div class="col-md-12 form-group">
        <label class="control-label">Type:</label>
        <input type="text" class="form-control" ng-model="runInstance.type.name" ng-readonly="true"/>
      </div>
      <div class="col-md-12 form-group">
        <label class="control-label">Qualified by CIVL Rank:</label>
        <input type="text" class="form-control" ng-model="runInstance.qualifiedByCivlRank" ng-readonly="true"/>
      </div>
      <div class="col-md-12 form-group">
        <label class="control-label">Qualified by actual APWT ranking:</label>
        <input type="text" class="form-control" ng-model="runInstance.qualifiedByApwcRank" ng-readonly="true"/>
      </div>
      <div class="col-md-12 form-group">
        <label class="control-label">Qualified for next Run:</label>
        <input type="text" class="form-control" ng-model="runInstance.qualifiedForNextRun" ng-readonly="true" />
      </div>

      <div class="col-md-12 form-group">
        <label class="control-label">Apply Penalty:</label>
        <input type="text" class="form-control" value="{{runInstance.applyPenalty?'Yes':'No'}}" ng-readonly="true" />
      </div>
      <div class="col-md-12 form-group">
        <label class="control-label">Judges:</label>
        <ul>
          <li ng-repeat="judge in runInstance.judges">
            {{judge.name}}
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <div class="region-box">
        <div class="region-box-title">
          <label><i class="glyphicon glyphicon-th-list"></i>  Starting Order</label>
          <div class="region-box-spinner" ng-show="isLoadingFlights"></div>
        </div>
        <div class="region-box-content">
          <ul class="list-group" ng-if="runInstance.type.name === 'Standard'">
            <li class="list-group-item"  ng-repeat="flight  in runInstance.flights">
              <label>{{flight.order+1}}- {{flight.competitor.name}}</label>
            </li>
          </ul>

          <div class="col-md-12 no-padding" ng-if="runInstance.type.name === 'Battle'"
               ng-class-even="'even-row'" ng-class-odd="'odd-row'" ng-repeat="battle  in battles">
            <div class="col-md-5 no-padding">
              {{$index + 1}} -
              <label> {{battle.firstFlight.competitor.name}}</label>
            </div>
            <div class="col-md-2 no-padding text-center">
              vs
            </div>
            <div class="col-md-5 no-padding">
              <label> {{battle.secondFlight.competitor.name}}</label>
            </div>

          </div>
          <div class="separator"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary actions-btn" ng-click="startRun()">
    <i class="glyphicon glyphicon-check"></i> Yes, start the run
  </button>
  <button type="button" class="btn btn-primary actions-btn" ng-click="editRun()">
    <i class="glyphicon glyphicon-pencil"></i> No, edit run
  </button>
  <button type="button" class="btn btn-primary actions-btn" ng-click="close()">
    <i class="glyphicon glyphicon-remove"></i> Cancel
  </button>

</div>
