<div class="modal-header">
  <h3 class="modal-title">{{runInstance.competition.name}} - {{runInstance.name}}</h3>
</div>
<div class="modal-body">
  <div class="row">
    <div class="region-box">
      <div class="region-box-title">
        <label><i class="glyphicon glyphicon-list"></i> Flight Manoeuvres</label>
        <a ng-click="generateRunManoeuvresPDF()" class="region-box-action">
          <i class="glyphicon glyphicon-save padding">PDF</i>
        </a>
      </div>
      <div class="region-box-content">
        <div class="col-md-12">
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="flight in runInstance.flights ">
              <div class="row" >
                <div class="col-md-3">
                  <label class="competitor-box">{{$index + 1}}- {{flight.competitor.name}}</label>
                </div>
                <div class="col-md-9 no-padding">
                  <div class="manoeuvre-box pull-left" ng-repeat="flightManoeuvre in flight.manoeuvres ">
                    <i ng-show="flightManoeuvre.bonusType.length > 0" class="glyphicon glyphicon-thumbs-up"> </i>
                    <span>{{getBonusType(flightManoeuvre.bonusType)}}</span>
                    <b>{{flightManoeuvre.manoeuvre.name}}</b>
                    <span ng-show="flightManoeuvre.side"> ({{flightManoeuvre.side}})</span>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <div class="separator"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary actions-btn" ng-click="close()">
    <i class="glyphicon glyphicon­log­out"> Close</i>
  </button>
</div>

