<div class = "container dashboard" xmlns = "http://www.w3.org/1999/html" >
  <uib-accordion class="displayer-box">
    <uib-accordion-group is-open="displayerBox.isOpen">
      <uib-accordion-heading>
        <span> {{eventInstance.name}} - Displayer</span>
        <i class="pull-right glyphicon " ng-class="{'glyphicon-chevron-down': displayerBox.isOpen, 'glyphicon-chevron-right': !displayerBox.isOpen}">
        </i>
      </uib-accordion-heading>
      <div class="col-md-4" >
        <div class="col-md-12 form-group">
          <a class="btn btn-primary large-font" ng-click="openDisplayer()" ladda="isOpeningDisplayer" data-style="expand-right">Open Displayer</a>
          <!--<a class="btn btn-primary" ng-click="showSeasonRankings()" ladda="isShowingRankings" data-style="expand-right">Show Season Rankings</a>-->
          <a class="btn btn-primary" ng-click="showEventResults()" ladda="isShowingEventResults" data-style="expand-right">Show Event Results</a>
        </div>
        <div class="col-md-12 form-group">

          <!--<a class="btn btn-primary" ng-click="showEventSponsors()" ladda="isShowingSponsors" data-style="expand-right">Show Event Sponsors</a>-->
          <!--<a class="btn btn-primary" ng-click="showEventImages()" ladda="isShowingImages" data-style="expand-right">Show Event Pictures</a>-->
        </div>
      </div>
      <div class="col-md-8">
        <div class="col-md-8">
          <div class="col-md-12 form-group">
            <input type="text" class="form-control" placeholder="Type the message" ng-model="messageToDisplay">
          </div>
          <div class="col-md-12 text-center">
            <a class="btn btn-primary" ng-click="showMessage(messageToDisplay)" ladda="isShowingMessage" data-style="expand-right">Show Message</a>
            <a class="btn btn-primary" ng-click="clearMessage()" ladda="isClearingMessage" data-style="expand-right">Clear Message</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="col-md-12 form-group">
            <input type="text" class="form-control" placeholder="Paf message" ng-model="pafToDisplay">
          </div>
          <div class="col-md-12 text-center">
            <a class="btn btn-primary" ng-click="showPaf(pafToDisplay)" ladda="isShowingPaf" data-style="expand-right">Show Paf</a>
            <a class="btn btn-primary" ng-click="clearPaf()" ladda="isClearingPaf" data-style="expand-right">Clear Paf</a>
          </div>
        </div>
      </div>


    </uib-accordion-group>
  </uib-accordion>
  <uib-tabset>
    <uib-tab select="selectCompetition(competition)"  ng-repeat="competition in eventInstance.activeCompetitions">
      <uib-tab-heading class="">
        {{competition.name}}<span ng-show="competition.activeRun"> (run {{competition.activeRun.name}})</span>
      </uib-tab-heading>
      <show-competition competition="competition"></show-competition>
    </uib-tab>
  </uib-tabset>
</div>
