<div class="modal-header">
  <h3 class="modal-title">Add a new Judge</h3>
</div>
<form name="frmAddJudge" class="form-horizontal" novalidate role="form" ng-submit="addJudge()">
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-6" ng-class="{ 'has-error' : frmAddJudge.judgeName.$invalid && !frmAddJudge.judgeName.$pristine }" >
          <label>Name:</label>
          <input type="text" class="form-control" placeholder="Type the judge name" ng-model="newJudge.name" name="judgeName" ng-required="true"/>
          <small ng-show="frmAddJudge.judgeName.$invalid && !frmAddJudge.judgeName.$pristine" class="help-block">
            Judge name is required.
          </small>
        </div>
        <div class="col-md-6">
          <label>Type:</label>
          <div>
            <ng-radio-button-group class="btn-group" data-toggle="buttons-radio"
                                   model="newJudge.type" options="judgeTypes" id="idProperty" name="nameProperty"
                                   suffix="bootstrapSuffix">
            </ng-radio-button-group>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary actions-btn" ng-disabled="frmAddJudge.$invalid">
      <i class="glyphicon glyphicon-save"> Save</i>
    </button>
    <button type="button" class="btn btn-primary actions-btn" ng-click="cancel()">
      <i class="glyphicon glyphicon-remove"> Cancel</i>
    </button>
  </div>
</form>
