<div class = "container" xmlns = "http://www.w3.org/1999/html" >
  <div class="col-md-12 entity-title">
    {{competitionInstance.name}}
    <div class="pull-right">
      <button type="button" class="btn btn-danger no-padding" ng-really-do="deleteCompetition()"
              ng-really-message="Are you sure you want to delete the competition: {{competitionInstance.name}}?">
        <i class="glyphicon glyphicon-minus-sign" uib-tooltip="Delete the competition"></i>
        Delete
      </button>
      <button type="button" class="btn btn-danger no-padding" ng-really-do="reopenCompetition()"
              ng-really-message="Are you sure you want to reopen the competition: {{competitionInstance.name}}?">
        <i class="glyphicon glyphicon-folder-open" uib-tooltip="Reopen the competition"></i>
        Reopen
      </button>
      <button type="button" class="btn btn-danger no-padding" ng-really-do="resetCompetition()"
              ng-really-message="Are you sure you want to reset the competition: {{competitionInstance.name}}?">
        <i class="glyphicon glyphicon-exclamation-sign" uib-tooltip="Reset the competition"></i>
        Reset
      </button>
    </div>
  </div>
  <div class="col-md-12">
    <uib-tabset>
      <uib-tab heading="Info">
        <div class="col-md-6">
          <div class="col-md-12">
            <div class="col-md-6 form-group">
              <label class="control-label">Event:</label>
              <div class="input-group add-on">
                <input type="text" class="form-control" ng-model="competitionInstance.event.name" ng-readonly="true">
                <div class="input-group-btn">
                  <button class="btn btn-default" type="button" ng-click="viewEvent()"><i class="glyphicon glyphicon-link"></i></button>
                </div>
              </div>
            </div>
            <div class="col-md-6 form-group">
              <label class="control-label">Type:</label>
              <input type="text" class="form-control" ng-model="competitionInstance.type.name" ng-readonly="true">
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-6 form-group">
              <label class="control-label">Name:</label>
              <input type="text" class="form-control" ng-model="competitionInstance.name" ng-require/>
            </div>
            <div class="col-md-6 form-group">
              <label class="control-label">Code:</label>
              <input type="text" class="form-control" ng-model="competitionInstance.code" ng-require/>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-6 form-group">
              <label class="control-label">Start time:</label>
              <input type="text" class="form-control" ng-model="competitionInstance.startTime" readonly/>
            </div>
            <div class="col-md-6 form-group">
              <label class="control-label">End time:</label>
              <input type="text" class="form-control" ng-model="competitionInstance.endTime" readonly/>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="col-md-12 form-group">
            <label class="control-label">Competitors ({{competitionInstance.competitors.length}}):</label>
            <form class="form-inline float-right ">
              <input type="text" class="form-control" placeholder="Select a competitor"
                     ng-keypress="($event.which === 13 && competitorList.selectedCompetitor)?addCompetitor():0"
                     ng-model="competitorList.selectedCompetitor"   uib-typeahead="i as i.name for i in availableCompetitors | filter:$viewValue | limitTo:10"
                     typeahead-min-length='1' typeahead-on-select='onSelectPart($item, $model, $label)'
                >
              <div class="btn-group" uib-dropdown>
                <button type="button" class="btn btn-primary" ng-click="addCompetitor()" ng-disabled="!competitorList.selectedCompetitor || !competitorList.selectedCompetitor._id">
                  <i class="glyphicon glyphicon-plus-sign" ></i>
                  Add
                </button>
                <button type="button" class="btn btn-primary" uib-dropdown-toggle>
                  <span class="caret"></span>
                  <span class="sr-only">Split button!</span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu  role="menu">
                  <li><a ng-click="openAddSubscription()">Add more...</a></li>
                </ul>
              </div>
            </form>
          </div>
          <div class="col-md-12">
            <div class="col-md-12  group-box">
              <div class="item-box" ng-repeat="competitor  in competitionInstance.competitors">
                <label class="item-info" >{{competitor.name}}</label>
                <a ng-click="removeCompetitor(competitor)">
                  <i class="glyphicon glyphicon-remove"></i>
                </a>
              </div>
              <div class="separator"></div>
            </div>
          </div>
        </div>
        <div class="col-md-12 form-actions top-separator">
          <button type="button" class="btn btn-primary actions-btn" ng-click="changeCompetition()"
                  ladda="isSavingCompetition" data-style="expand-right"
                  uib-tooltip="Save data changes" tooltip-placement="bottom">
            <i class="glyphicon glyphicon-save"> Save</i>
          </button>
          <button type="button" class="btn btn-primary actions-btn" ng-really-do="discardChanges()"
                  ng-really-message="are you sure you want to discard the changes?"
                  uib-tooltip="Discard changes" tooltip-placement="bottom">
            <i class="glyphicon glyphicon-arrow-left"></i>
            Discard Changes
          </button>

        </div>

      </uib-tab>
      <uib-tab heading="Runs">
        <div class="col-md-12">
          <div class="region-box">
            <div class="region-box-title">
              <label><i class="glyphicon glyphicon-ok-circle"></i> Runs</label>
              <a class="region-box-action" ng-click="openCreateRun()">
                <i class="glyphicon glyphicon-plus" uib-tooltip="Create Run" tooltip-placement="top"></i>
              </a>
              <div class="region-box-spinner" ng-show="loadingRuns"></div>
            </div>
            <div class="region-box-content">
              <ul class="list-group">
                <li class="list-group-item" ng-repeat="run  in competitionInstance.runs">
                  <a ng-href="/admin/run/{{run._id}}">{{run.name}}</a>
                  <a ng-click="deleteRun(run)" class="list-group-action"><span class="glyphicon glyphicon-trash"></span></a>
                  <a ng-click="upRun(run)" class="list-group-action" ng-disabled="run.order === 1">
                    <span class="glyphicon glyphicon-arrow-up"></span>
                  </a>
                  <a ng-click="downRun(run)" class="list-group-action" ng-disabled="run.order === competitionInstance.runs.length">
                    <span class="glyphicon glyphicon-arrow-down"></span>
                  </a>
                </li>
              </ul>
              <div class="separator"></div>
            </div>
          </div>
        </div>
      </uib-tab>
      <uib-tab heading="Results">
        <div class="col-md-6">
          <div class="region-box">
            <div class="region-box-title">
              <label><i class="glyphicon glyphicon-list"></i> Results</label>
              <a ng-click="generateCompetitionResultsPDF()" class="region-box-action">
                <i class="glyphicon glyphicon-save padding"></i>PDF
              </a>
            </div>
            <div class="region-box-content">
              <div class="col-md-12">
                <ul class="list-group">
                  <li class="list-group-item" ng-repeat="result in competitionResults">
                    <div class="row">
                      <div class="col-md-3">
                        <label>{{result.competitor.name}}</label>
                      </div>
                      <div class="col-md-7">
                        <div class="col-md-3 text-right" ng-repeat="runResult in result.runResults">
                          <span uib-tooltip="{{runResult.name}}" tooltip-placement="bottom"> {{runResult.points | number: 3}}</span>
                        </div>
                      </div>
                      <div class="col-md-1">
                        <span uib-tooltip="warnings" tooltip-placement="bottom">  {{result.warnings}}</span>
                      </div>
                      <div class="col-md-1 text-right">
                        <label>{{result.overall | number: 3}}</label>
                      </div>
                      <div class="separator"></div>
                    </div>
                  </li>
                </ul>
                <div class="separator"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="region-box">
            <div class="region-box-title">
              <label><i class="glyphicon glyphicon-list"></i> Results Ranking (with compensation)</label>
              <!--<a ng-click="pdfCompetitionResultsWithCompensation()" class="region-box-action">-->
                <!--<i class="glyphicon glyphicon-save padding"></i>PDF-->
              <!--</a>-->
              <a ng-click="generateCompetitionResultsCSV()" class="region-box-action">
                <i class="glyphicon glyphicon-save padding"></i>FAI CSV
              </a>
            </div>
            <div class="region-box-content">
              <div class="col-md-12">
                <ul class="list-group">
                  <li class="list-group-item" ng-repeat="resultFai in competitionResultsFAI">
                    <div class="row">
                      <div class="col-md-3">
                        <label>{{resultFai.competitor.name}}</label>
                      </div>
                      <div class="col-md-7">
                        <div class="col-md-3 text-right" ng-repeat="runResultFai in resultFai.runResults">
                          <span uib-tooltip="{{runResultFai.name}}" tooltip-placement="bottom"> {{runResultFai.points | number: 3}}</span>
                        </div>
                      </div>
                      <div class="col-md-1">
                        <span uib-tooltip="warnings" tooltip-placement="bottom">  {{resultFai.warnings}}</span>
                      </div>
                      <div class="col-md-1 text-right">
                        <label>{{resultFai.overall | number: 3}}</label>
                      </div>
                      <div class="separator"></div>
                    </div>
                  </li>
                </ul>
                <div class="separator"></div>
              </div>
            </div>
          </div>
        </div>
      </uib-tab>
    </uib-tabset>
  </div>
</div>
