.competitors-modal {

  .modal-dialog {
    width: 90% !important;
    //max-width: 1280px !important;
    overflow: auto !important;
  }
  .modal-title, .modal-footer {
    text-align: center;
  }

  .modal-body{
    .group-box {
      min-height: 80px;
      max-height: 80px;
      overflow: auto;
      padding: 0 !important;
      .item-box {
        padding: .2em .5em 0 .5em !important;
        margin: .3em .5em !important;
        font-size: 12px;
        float: left;
      }
    }

    .competitor-box{
      float: left;
      width: 200px;
      margin-top: .3em;
      border: 0 !important;
      padding: .5em;

      .item-box{
        float: left;
        padding: 0 !important;
        margin: .5em .3em;
        button{
          font-size: 12px;
        }
        .item-bonus{
          min-width: 190px;
          font-weight: bold;
        }
      }
    }

    .title-box{
      padding: 0;
      margin: 0;
    }

    .background-row{
      background-color: #e3e3e3;
      border: 0;
    }
  }
}


