<div class="modal-header">
  <h3 class="modal-title">Add a new Season</h3>
</div>
<form name="frmAddSeason" class="form-horizontal" novalidate ng-submit="addSeason()">
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12" >
        <div class="col-md-6" ng-class="{ 'has-error' : frmAddSeason.seasonName.$invalid && !frmAddSeason.seasonName.$pristine }">
          <label>Name:</label>
          <input type="text" class="form-control" placeholder="Type the season name" ng-model="newSeason.name"  name="seasonName" required/>
          <small ng-show="frmAddSeason.seasonName.$invalid && !frmAddSeason.seasonName.$pristine" class="help-block">
            Season name is required.
          </small>
        </div>
        <div class="col-md-6" ng-class="{ 'has-error' : frmAddSeason.seasonCode.$invalid && !frmAddSeason.seasonCode.$pristine }">
          <label>Code:</label>
          <input type="text" class="form-control" placeholder="Type the season code" ng-model="newSeason.code"
                 name="seasonCode" ng-minlength="4" required/>
          <small ng-show="frmAddSeason.seasonCode.$invalid && !frmAddSeason.seasonCode.$pristine" class="help-block">
            Season code is required (too short, min length is 4).
          </small>
          <small class="help-comment">used to create the season displayer url</small>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary actions-btn" ng-disabled="frmAddSeason.$invalid">
      <i class="glyphicon glyphicon-save"></i>
      Save
    </button>
    <button type="button" class="btn btn-primary actions-btn" ng-click="cancel()">
      <i class="glyphicon glyphicon-remove"> Cancel</i>
    </button>
  </div>
</form>
