<div class="modal-header">
  <h3 class="modal-title">Add a new Event</h3>
</div>
<form name="frmAddEvent" class="form-horizontal" novalidate ng-submit="addEvent()">
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12 form-group">
        <div class="col-md-6">
          <label>Season:</label>
          <div ng-show="selectedSeason">
            <input type="text" class="form-control" ng-model="selectedSeason.name" ng-readonly="true"/>
          </div>
          <div  ng-hide="selectedSeason" ng-class="{ 'has-error' : frmAddEvent.eventSeason.$invalid && !frmAddEvent.eventSeason.$pristine }">
            <select class="form-control" ng-model="newEvent.season" data-placeholder="Select a season" ng-required="true"
                    name="eventSeason">
              <option value="">Select a season</option>
              <option ng-repeat="season in seasons" value="{{season._id}}">{{season.name}}</option>
            </select>
            <small ng-show="frmAddEvent.eventSeason.$invalid && !frmAddEvent.eventSeason.$pristine" class="help-block">
              Season is required
            </small>
          </div>
        </div>
        <div class="col-md-6"  ng-class="{ 'has-error' : frmAddEvent.eventName.$invalid && !frmAddEvent.eventName.$pristine }">
          <label>Name:</label>
          <input type="text" class="form-control" placeholder="Type the event name" ng-model="newEvent.name" name="eventName" required/>
          <small ng-show="frmAddEvent.eventName.$invalid && !frmAddEvent.eventName.$pristine" class="help-block">
            Event name is required.
          </small>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary actions-btn"  ng-disabled="frmAddEvent.$invalid">
      <i class="glyphicon glyphicon-save"> Save</i>
    </button>
    <button type="button" class="btn btn-primary actions-btn" ng-click="cancel()">
      <i class="glyphicon glyphicon-remove"> Cancel</i>
    </button>
  </div>
</form>
