<div class="modal-header">
  <h3 class="modal-title">Add a new Sponsor</h3>
</div>
<form name="frmAddSponsor" class="form-horizontal" novalidate role="form" ng-submit="addSponsor()">
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-8" ng-class="{ 'has-error' : frmAddSponsor.sponsorName.$invalid && !frmAddSponsor.sponsorName.$pristine }" >
          <label>Name:</label>
          <input type="text" class="form-control" placeholder="Type the sponsor name" ng-model="newSponsor.name" name="sponsorName" ng-required="true"/>
          <small ng-show="frmAddSponsor.sponsorName.$invalid && !frmAddSponsor.sponsorName.$pristine" class="help-block">
            Sponsor name is required.
          </small>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary actions-btn" ng-disabled="frmAddSponsor.$invalid">
      <i class="glyphicon glyphicon-save"> Save</i>
    </button>
    <button type="button" class="btn btn-primary actions-btn" ng-click="cancel()">
      <i class="glyphicon glyphicon-remove"> Cancel</i>
    </button>
  </div>
</form>
