<div class="col-md-12 slide-title" xmlns="http://www.w3.org/1999/html">
  <div class="slide-left-control">
    <label class="glyphicon glyphicon-chevron-left" ng-click="previousBattle()">  </label>
  </div>
  {{battles[info.currentBattle].firstFlight.competitor.name}}   --- vs --- {{battles[info.currentBattle].secondFlight.competitor.name}}
  ( {{info.currentBattle+1}}/{{info.middle}} )
  <div class="slide-right-control">
    <label class="glyphicon glyphicon-chevron-right" ng-click="nextBattle()">  </label>
  </div>
</div>
<div class="col-md-12 slide-content">
  <div class="col-md-12 form-group">
    <button class="btn btn-primary large-font btn-separator" ng-click="showBattle()" ladda="info.isShowingBattle" data-style="expand-right">
      <i class="glyphicon glyphicon-facetime-video"></i>
      Show Battle
    </button>

    <button class="btn btn-primary large-font btn-separator" ng-click="endBattle(true)" ladda="info.isShowingBattleResults" data-style="expand-right"
            ng-show="battles[info.currentBattle].firstFlight.endTime && battles[info.currentBattle].secondFlight.endTime">
      <i class="glyphicon glyphicon-facetime-video"></i>
      End Battle
    </button>
  </div>

  <uib-tabset>
    <uib-tab>
      <uib-tab-heading>
        First Flight ({{battles[info.currentBattle].firstFlight.competitor.name}})
      </uib-tab-heading>
      <show-flight flight="battles[info.currentBattle].firstFlight"></show-flight>
    </uib-tab>
    <uib-tab>
      <uib-tab-heading>
        Second Flight ({{battles[info.currentBattle].secondFlight.competitor.name}})
      </uib-tab-heading>
      <show-flight flight="battles[info.currentBattle].secondFlight"></show-flight>
    </uib-tab>
  </uib-tabset>

</div>

