.slide-title{
  text-align: center;
  padding: .2em .5em;
  background-color: @logo-color;
  color:@font-light-color;
  font-size: x-large !important;
}
.slide-left-control{
  float:left;
  width: 12%;
  text-align: left;
  label{
    cursor: pointer;
  }

}
.slide-right-control{
  float:right;
  width: 12%;
  text-align: right;
  label{
    cursor: pointer;
  }
}

.slide-content{
  padding-top: 10px;
  .btn-separator{
    margin-right: 1em;
  }
}
