<div class = "container" xmlns = "http://www.w3.org/1999/html" >
  <div class="col-md-8">
    <div class="col-md-6 form-group">
    <div class="col-md-12">
      <label class="control-label">Name:</label>
      <input type="text" class="form-control" ng-model="manoeuvreInstance.name"/>
    </div>
  </div>
    <div class="col-md-6 form-group">
    <div class="col-md-12">
      <label class="control-label">Coefficient:</label>
      <input type="text" class="form-control" ng-model="manoeuvreInstance.coefficient"/>
    </div>
  </div>
  <div class="col-md-4 form-group">
    <div class="col-md-12">
      <label class="control-label">Bonus % (Twisted):</label>
      <input type="number" min="0" class="form-control" ng-model="manoeuvreInstance.twistedBonus"/>
      <small class="help-block">0 by default(no twisted this manoeuvre) </small>
    </div>
  </div>
  <div class="col-md-4 form-group">
    <div class="col-md-12 ">
      <label class="control-label">Bonus % (Flipped):</label>
      <input type="number" min="0" class="form-control" ng-model="manoeuvreInstance.flippedBonus"/>
      <small class="help-block">0 by default(no flipped this manoeuvre) </small>
    </div>
  </div>
    <div class="col-md-4 form-group">
      <div class="col-md-12 ">
        <label class="control-label">Bonus % (Reversed):</label>
        <input type="number" min="0" class="form-control" ng-model="manoeuvreInstance.reversedBonus"/>
        <small class="help-block">0 by default(no reversed this manoeuvre) </small>
      </div>
    </div>
  <div class="col-md-6 form-group">
    <div class="col-md-12">
      <label class="control-label">Different sides:</label>
      <div>
        <ng-radio-button-group class="btn-group" data-toggle="buttons-radio" model="manoeuvreInstance.hasSides" options="sideOptions" id="idProperty" name="nameProperty" suffix="bootstrapSuffix"></ng-radio-button-group>
      </div>
    </div>
  </div>
    <div class="col-md-6 form-group">
    <div class="col-md-12">
      <label class="control-label">Only Synchro:</label>
      <div>
        <ng-radio-button-group class="btn-group" data-toggle="buttons-radio" model="manoeuvreInstance.onlySynchro" options="synchroOptions" id="idProperty" name="nameProperty" suffix="bootstrapSuffix"></ng-radio-button-group>
      </div>
    </div>
  </div>
  </div>

  <div class="col-md-8 form-actions top-separator">
    <button type="button" class="btn btn-primary actions-btn" ng-click="changeManoeuvre()"
            ladda="isSavingManoeuvre" data-style="expand-right"
            uib-tooltip="Save data changes" tooltip-placement="bottom">
      <i class="glyphicon glyphicon-save"> </i>
      Save
    </button>
    <button type="button" class="btn btn-primary actions-btn" ng-really-do="discardChanges()"
            ng-really-message="are you sure you want to discard the changes?"
            uib-tooltip="Discard changes" tooltip-placement="bottom">
      <i class="glyphicon glyphicon-arrow-left"></i>
      Discard Changes
    </button>
    <button type="button" class="btn btn-primary actions-btn"
            ladda="isDeletingManoeuvre" data-style="expand-right"
            ng-really-do="deleteManoeuvre()"
            ng-really-message="Are you sure you want to delete the manoeuvre: {{manoeuvreInstance.name}}?">
      <i class="glyphicon glyphicon-minus-sign"></i>
      Delete
    </button>
  </div>
</div>
