<div class = "container dashboard" xmlns = "http://www.w3.org/1999/html" >
  <uib-accordion close-others="true">
    <!--<uib-accordion-group  is-open="status.dataOpen">-->
    <uib-accordion-group  ng-repeat="season in seasons" is-open="season.open">
      <uib-accordion-heading>
        <span ng-click="openSeason(season)">{{season.name}}</span>
        <i class="pull-right glyphicon " ng-click="openSeason(season)"
           ng-class="{'glyphicon-chevron-down': season.open, 'glyphicon-chevron-right': !season.open}">
        </i>
      </uib-accordion-heading>
      <div class="col-md-12">
        <div class="col-md-12 margin-row">
          <div class="btn-group" uib-dropdown>
            <button type="button" class="btn btn-primary large-font"
                    ng-click="showSeasonRankings(season)" ladda="isShowingSeasonRanking" data-style="expand-right">
              <i class="glyphicon glyphicon-facetime-video"></i>
              Season Ranking
            </button>
            <button type="button" class="btn btn-primary large-font" uib-dropdown-toggle>
              <span class="caret"></span>
              <span class="sr-only">Split button!</span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu">
              <li>
                <a ng-click="showSeasonRankings(season)">
                  <i class="glyphicon glyphicon-facetime-video"></i>
                  <b>
                    Display season ranking
                  </b>
                </a>
              </li>
              <li>
                <a ng-click="openSeasonRankings(season)">
                  <i class="glyphicon glyphicon-eye-open"></i>
                  View season ranking</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-12 margin-row">
          <div ng-show="!season.events || season.events.length === 0">
              NO Events!!
          </div>
          <uib-tabset ng-show="season.events && season.events.length > 0">
            <uib-tab select="openEvent(event)" ng-repeat="event in season.events" heading="{{event.name}}">
              <div class="col-md-12">
                <a class="btn btn-primary" ladda="event.isStarting" data-style="expand-right"
                   ng-show="!event.isStarted" ng-click="startEvent(event)">
                  <i class="glyphicon glyphicon-play"></i> Start Event
                </a>
                <div class="btn-group" uib-dropdown>
                  <button type="button" class="btn btn-primary large-font"
                          ng-click="showEventResults(event)" ladda="isShowingEventResults" data-style="expand-right">
                    <i class="glyphicon glyphicon-facetime-video"></i>
                    Event Results
                  </button>
                  <button type="button" class="btn btn-primary large-font" uib-dropdown-toggle>
                    <span class="caret"></span>
                    <span class="sr-only">Split button!</span>
                  </button>
                  <ul class="dropdown-menu" uib-dropdown-menu  role="menu">
                    <li>
                      <a ng-click="showEventResults(event)">
                        <i class="glyphicon glyphicon-facetime-video"></i>
                        <b>
                          Display event results
                        </b>
                      </a>
                    </li>
                    <li>
                      <a ng-click="openEventResults(event)">
                        <i class="glyphicon glyphicon-eye-open"></i>
                        View event results</a>
                    </li>
                  </ul>
                </div>
                <a class="btn btn-primary" ladda="event.isEnding" data-style="expand-right"
                   ng-show="event.isStarted && !event.isEnded" ng-click="endEvent(event)">
                  <i class="glyphicon glyphicon-stop"></i> End Event
                </a>
              </div>
              <div class="col-md-12" ng-show="event.isStarted">
                <div class="region-box dashboard-component manager-region-box" ng-repeat="competition in event.competitions">
                  <div class="region-box-title">
                    {{competition.name}}
                    <a class="region-box-action" ng-show="competition.startTime && competition.endTime"
                       ng-click="pdfCompetitionResults(competition)">
                      <i class="glyphicon glyphicon-save" uib-tooltip="PDF competition results..." tooltip-placement="bottom"></i>
                    </a>
                    <a class="region-box-action" ng-show="competition.startTime && !competition.endTime"
                        ng-click="openCompetitionResults(competition)">
                      <i class="glyphicon glyphicon-list" uib-tooltip="competition results..." tooltip-placement="bottom"></i>
                    </a>
                    <a  class="region-box-action" ng-show="!competition.startTime && !competition.endTime"
                        ng-click="startCompetition(competition)">
                      <i class="glyphicon glyphicon-play" uib-tooltip="start competition..." tooltip-placement="bottom"></i>
                    </a>
                    <!--<a  class="region-box-action" ng-show="competition.startTime && !competition.endTime"-->
                        <!--ng-click="endCompetition(competition)">-->
                      <!--<i class="glyphicon glyphicon-stop" uib-tooltip="end competition..." tooltip-placement="bottom"></i>-->
                    <!--</a>-->
                  </div>
                  <div class="region-box-content">
                    <ul class="list-group">
                      <li class="list-group-item" ng-repeat="run in competition.runs">
                        <a  ng-show="run.startTime && !run.endTime" ng-click="viewRun(event)">
                          {{run.name}}
                        </a>
                        <span ng-show="!run.startTime || run.endTime">{{run.name}}</span>


                        <!--<a class="list-group-action" ng-show="run.startTime && run.endTime" ng-click="pdfRunResults(run)">-->
                          <!--<span class="glyphicon glyphicon-save pull-right" uib-tooltip="PDF Results" tooltip-placement="bottom"></span>-->
                        <!--</a>-->
                        <a class="list-group-action" ng-show="run.startTime"
                           ng-click="openRunResults(run)">
                          <i class="glyphicon glyphicon-list-alt" uib-tooltip="Results" tooltip-placement="bottom"></i>
                        </a>
                        <!--<a class="list-group-action"  ng-show="run.startTime && run.endTime" ng-click="pdfManoeuvres(run)">-->
                          <!--<span class="glyphicon glyphicon-cloud-download pull-right" uib-tooltip="PDF  Manoeuvres" tooltip-placement="bottom"></span>-->
                        <!--</a>-->
                        <a class="list-group-action"  ng-show="run.startTime" ng-click="openRunManoeuvres(run)">
                          <span class="glyphicon glyphicon-cloud pull-right" uib-tooltip="Manoeuvres" tooltip-placement="bottom"></span>
                        </a>
                        <a class="list-group-action" ng-show="run.startTime || run.order === competition.nextRun" ng-click="openRunStartingOrder(run)">
                          <span class="glyphicon glyphicon-list pull-right" uib-tooltip="Starting order" tooltip-placement="bottom"></span>
                        </a>
                        <!--<a class="list-group-action"  ng-show="run.startTime && run.endTime" ng-click="pdfStartingOrder(run)">-->
                          <!--<span class="glyphicon glyphicon-list pull-right" uib-tooltip="PDF Starting Order" tooltip-placement="bottom"></span>-->
                        <!--</a>-->
                        <!--<a class="list-group-action" ng-show="run.startTime && !run.endTime" ng-click="endRun(competition, run)">-->
                          <!--<span class="glyphicon glyphicon-stop pull-right" uib-tooltip="End" tooltip-placement="bottom"></span>-->
                        <!--</a>-->
                        <a class="list-group-action" ng-show="run.startTime && !run.endTime" ng-click="viewRun(event)">
                          <span class="glyphicon glyphicon-pencil pull-right" uib-tooltip="Manager" tooltip-placement="bottom"></span>
                        </a>
                        <a class="list-group-action" ng-click="startRun(run)"
                           ng-show="!run.startTime && !run.endTime &&
                                     competition.startTime && !competition.endTime &&
                                     run.order === competition.nextRun">
                          <span class="glyphicon glyphicon-play pull-right" uib-tooltip="Start" tooltip-placement="bottom"  ></span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </uib-tab>
          </uib-tabset>
        </div>
      </div>
    </uib-accordion-group>
  </uib-accordion>
</div>
