
.modal-overflow{
  max-height: 600px !important;
  overflow: auto;
}

  .manager-region-box .region-box-content {
    overflow: visible !important;
  }

  .manoeuvre-box {
    padding: .5em;
    margin: .2em;
    background-color: @separator-color;
  }
  .competitor-box {
   padding: .5em;
  }

  .margin-row{
    margin-top: .5em;
  }

  .overflow-modal{
    max-height: 250px !important;
    overflow: auto;
  }

