<div class = "container" xmlns = "http://www.w3.org/1999/html">
  <div class="col-md-12 entity-title">
    {{eventInstance.name}}
    <div class="pull-right">
      <button type="button" class="btn btn-danger no-padding" ng-really-do="deleteEvent()"
              ng-really-message="Are you sure you want to delete the event: {{eventInstance.name}}?">
        <i class="glyphicon glyphicon-minus-sign" uib-tooltip="Delete the event"></i>
        Delete
      </button>
      <button type="button" class="btn btn-danger no-padding" ng-really-do="reopenEvent()"
              ng-really-message="Are you sure you want to reopen the event: {{eventInstance.name}}?">
        <i class="glyphicon glyphicon-folder-open" uib-tooltip="Reopen the event"></i>
        Reopen
      </button>
      <button type="button" class="btn btn-danger no-padding" ng-really-do="resetEvent()"
              ng-really-message="Are you sure you want to reset the event: {{eventInstance.name}}?">
        <i class="glyphicon glyphicon-exclamation-sign" uib-tooltip="Reset the event"></i>
        Reset
      </button>
    </div>
  </div>
  <div class="col-md-12">
    <uib-tabset >
      <uib-tab heading="Info">
        <div class="col-md-7">
          <div class="col-md-12">
            <div class="col-md-6 picture-box">
              <img class="admin-picture" alt="Logo" ng-src="{{logoUrl}}"
                   ng-show="!eventLogo.pictures || eventLogo.pictures.length  === 0"/>
              <img ng-show="eventLogo.pictures[0] != null" ngf-src="eventLogo.pictures[0]" class="thumb admin-picture">
              <div class="browse-image">
                <input type="file" ngf-select="" ngf-multiple="false" ngf-accept="'*.jpg,*.png'" ng-model="eventLogo.pictures"/>
              </div>
            </div>
            <div class="col-md-6">
              <div class="col-md-12 form-group">
                <label class="control-label">Season:</label>
                <div class="input-group add-on">
                  <input type="text" class="form-control" ng-model="eventInstance.season.name" ng-readonly="true">
                  <div class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="viewSeason()"><i class="glyphicon glyphicon-link"></i></button>
                  </div>
                </div>
              </div>
              <div class="col-md-12 form-group">
                <label class="control-label">Name:</label>
                <input type="text" class="form-control" ng-model="eventInstance.name" ng-required="true"/>
              </div>
              <div class="col-md-12 form-group">
                <label class="control-label">Is confirmed:</label>
                <div>
                  <ng-radio-button-group class="btn-group" data-toggle="buttons-radio" model="eventInstance.isConfirmed"
                                         options="confirmedOptions" id="idProperty" name="nameProperty" suffix="bootstrapSuffix">
                  </ng-radio-button-group>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-6 form-group">
              <label class="control-label">Start date:</label>
              <uib-datepicker ng-model="eventInstance.startDate" min-date="startMinDate" show-weeks="true" class="well well-sm"
                          custom-class="getDayClass(date, mode)"></uib-datepicker>
            </div>
            <div class="col-md-6 form-group">
              <label class="control-label">End date:</label>
              <uib-datepicker ng-model="eventInstance.endDate" min-date="eventInstance.startDate" show-weeks="true" class="well well-sm"
                          custom-class="getDayClass(date, mode)"></uib-datepicker>

            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="col-md-12 form-group">
            <div class="col-md-12">
              <label class="control-label">Locations:</label>
              <button type="button" class="btn btn-primary pull-right"  ng-click="openAddLocation()">
                <i class="glyphicon glyphicon-plus-sign" ></i>
                Add
              </button>
              <div class="col-md-12  group-box top-separator">
                <div class="item-box" ng-repeat="location  in eventInstance.locations">
                  <label class="item-info" >{{location.name}}</label>
                  <a ng-click="removeLocation(location)">
                    <i class="glyphicon glyphicon-remove"></i>
                  </a>
                  <div>
                    <label>Place: </label>
                    <span> {{location.latitude}};{{location.longitude}}</span>
                  </div>
                  <div>
                    <span>{{location.comment}}</span>
                  </div>
                </div>
                <div class="separator"></div>
              </div>
            </div>
          </div>

          <!--TODO: Add in future versions-->
          <!--<div class="col-md-12 form-group">-->
          <!--<label class="control-label">Judges:</label>-->
          <!--<ng-group-items items="judges" selected-items="eventInstance.judges" name="name" id="_id"></ng-group-items>-->
          <!--</div>-->
          <div class="col-md-12">
            <div class="col-md-12 form-group">
              <label class="control-label">Sponsors:</label>
              <ng-group-items items="sponsors" selected-items="eventInstance.sponsors" name="name" id="_id"></ng-group-items>
            </div>
          </div>
        </div>
        <div class="col-md-12 form-actions top-separator">
          <button type="button" class="btn btn-primary actions-btn" ng-click="changeEvent()"
                  uib-tooltip="Save data changes" tooltip-placement="bottom" ladda="isSavingEvent" data-style="expand-right">
            <i class="glyphicon glyphicon-save"> Save</i>
          </button>
          <button type="button" class="btn btn-primary actions-btn" ng-really-do="discardChanges()"
                  ng-really-message="are you sure you want to discard the changes?"
                  uib-tooltip="Discard changes" tooltip-placement="bottom">
            <i class="glyphicon glyphicon-arrow-left"></i>
            Discard Changes
          </button>
        </div>
      </uib-tab>
      <uib-tab heading="Competitions">
        <div class="col-md-12">
          <div class="region-box">
            <div class="region-box-title">
              <label><i class="glyphicon glyphicon-ok-circle"> Competitions </i> </label>
              <a class="region-box-action" ng-click="openCreateCompetition()">
                <i class="glyphicon glyphicon-plus" uib-tooltip="Create Competition" tooltip-placement="top"></i>
              </a>
              <div class="region-box-spinner" ng-show="isLoadingCompetitions"></div>
            </div>
            <div class="region-box-content">
              <ul class="list-group">
                <li class="list-group-item" ng-repeat="competition  in eventInstance.competitions">
                  <a ng-href="/admin/competition/{{competition._id}}">{{competition.name}}</a>
                  <a ng-really-do="deleteCompetition(competition)" ng-really-message="Are you sure you want to delete the competition: {{competition.name}}?" class="trash"><span class="glyphicon glyphicon-trash pull-right"></span></a>
                </li>
              </ul>
              <div class="separator"></div>
            </div>
          </div>
        </div>
      </uib-tab>
      <uib-tab heading="Gallery">

      </uib-tab>
  </uib-tabset>
  </div>



</div>
