.dashboard {
  min-height : 100%;
  .dashboard-component {
    float  : left;
    width  : 30%;
    min-height: 18em;
    max-height: 18em;

    .dashboard-component-content {
      max-height: 15em;
      overflow: auto;
      .filter-dashboard{
        margin-bottom: 1em;
        input{
          width: 100%;
          height: 24px;
          padding: 2px 2px;
          font-size: 12px;
          text-align: center;
        }

      }
    }

    label {
      color: @font-light-color;
    }

  }
}
