<div class = "container dashboard" xmlns = "http://www.w3.org/1999/html" >

  <div class="region-box dashboard-component">
    <div class="region-box-title">
      <label><i class="glyphicon glyphicon-ok-circle"></i> Seasons</label>
      <a  class="region-box-action" ng-click="openAddSeason()"><i class="glyphicon glyphicon-plus" uib-tooltip="create a new season" tooltip-placement="top"></i></a>

      <div class="region-box-spinner" ng-show="loadingSeasons"></div>
    </div>
    <div class="region-box-content dashboard-component-content">
      <div class="col-md-12 filter-dashboard">
        <input type="text" class="form-control pull-right" placeholder="Search ..." ng-model="filterSeasons">
      </div>
      <div class="col-md-12">
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="season in seasons | filter: filterSeasons">
            <a ng-href="/admin/season/{{season._id}}">{{season.name}}</a>
            <a ng-really-do="deleteSeason(season)" ng-really-message="Are you sure you want to delete the season: {{season.name}}?" class="list-group-action"><span class="glyphicon glyphicon-trash pull-right"></span></a>
          </li>
        </ul>
        <div class="separator"></div>
      </div>
    </div>
  </div>
  <div class="region-box dashboard-component">
    <div class="region-box-title">
      <label><i class="glyphicon glyphicon-align-center"></i> Events</label>
      <a  class="region-box-action" ng-click="openAddEvent()"><i class="glyphicon glyphicon-plus" uib-tooltip="create a new event" tooltip-placement="top"></i></a>
      <div class="region-box-spinner" ng-show="loadingEvents"></div>
    </div>
    <div class="region-box-content dashboard-component-content">
      <div class="col-md-12 filter-dashboard">
        <input type="text" class="form-control pull-right" placeholder="Search ..." ng-model="filterEvents">
      </div>
      <div class="col-md-12">
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="event in events | filter: filterEvents">
            <a ng-href="/admin/event/{{event._id}}">{{event.season.name}} - {{event.name}}</a>
            <a ng-really-do="deleteEvent(event)" ng-really-message="Are you sure you want to delete the event: {{event.name}}?" class="list-group-action"><span class="glyphicon glyphicon-trash pull-right"></span></a>
          </li>
        </ul>
        <div class="separator"></div>
      </div>
    </div>
  </div>
  <div class="region-box dashboard-component">
    <div class="region-box-title">
      <label><i class="glyphicon glyphicon-align-center"></i> Competitions</label>
      <a  class="region-box-action" ng-click="openAddCompetition()"><i class="glyphicon glyphicon-plus" uib-tooltip="create a new competition" tooltip-placement="top"></i></a>
      <div class="region-box-spinner" ng-show="loadingCompetitions"></div>
    </div>
    <div class="region-box-content dashboard-component-content">
      <div class="col-md-12 filter-dashboard">
        <input type="text" class="form-control pull-right" placeholder="Search ..." ng-model="filterCompetitions">
      </div>
      <div class="col-md-12">
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="competition in competitions | filter: filterCompetitions">
            <a ng-href="/admin/competition/{{competition._id}}">{{competition.event.name}} - {{competition.name}}</a>
            <a ng-really-do="deleteCompetition(competition)" ng-really-message="Are you sure you want to delete the competition: {{competition.name}}?" class="list-group-action"><span class="glyphicon glyphicon-trash pull-right"></span></a>
          </li>
        </ul>
        <div class="separator"></div>
      </div>
    </div>
  </div>
  <div class="region-box dashboard-component">
    <div class="region-box-title">
      <label><i class="glyphicon glyphicon-align-center"></i> Runs</label>
      <a  class="region-box-action" ng-click="openAddRun()"><i class="glyphicon glyphicon-plus" uib-tooltip="create a new run" tooltip-placement="top"></i></a>
      <div class="region-box-spinner" ng-show="loadingRuns"></div>
    </div>
    <div class="region-box-content dashboard-component-content">
      <div class="col-md-12 filter-dashboard">
        <input type="text" class="form-control pull-right" placeholder="Search ..." ng-model="filterRuns">
      </div>
      <div class="col-md-12">
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="run in runs| filter: filterRuns">
            <a ng-href="/admin/run/{{run._id}}">{{run.competition.name}} - {{run.name}}</a>
            <a ng-really-do="deleteRun(run)" ng-really-message="Are you sure you want to delete the run: {{run.name}}?" class="list-group-action"><span class="glyphicon glyphicon-trash pull-right"></span></a>
          </li>
        </ul>
        <div class="separator"></div>
      </div>
    </div>
  </div>

  <div class="region-box dashboard-component">
    <div class="region-box-title">
      <label><i class="glyphicon glyphicon-align-center"></i> Pilots</label>
      <a  class="region-box-action" ng-click="openAddPilot()"><i class="glyphicon glyphicon-plus" uib-tooltip="create a new pilot" tooltip-placement="top"></i></a>
      <div class="region-box-spinner" ng-show="loadingPilots"></div>
    </div>
    <div class="region-box-content dashboard-component-content">
      <div class="col-md-12 filter-dashboard">
        <input type="text" class="form-control pull-right" placeholder="Search ..." ng-model="filterPilots">
      </div>
      <div class="col-md-12">
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="pilot in pilots| filter: filterPilots">
            <a ng-href="/admin/pilot/{{pilot._id}}">{{pilot.name}}</a>
            <a ng-really-do="deletePilot(pilot)" ng-really-message="Are you sure you want to delete the pilot: {{pilot.name}}?" class="list-group-action"><span class="glyphicon glyphicon-trash pull-right"></span></a>
          </li>
        </ul>
        <div class="separator"></div>
      </div>
    </div>

  </div>
  <div class="region-box dashboard-component">
    <div class="region-box-title">
      <label><i class="glyphicon glyphicon-align-center"></i> Teams</label>
      <a  class="region-box-action" ng-click="openAddTeam()"><i class="glyphicon glyphicon-plus" uib-tooltip="create a new team" tooltip-placement="top"></i></a>
      <div class="region-box-spinner" ng-show="loadingTeams"></div>
    </div>
    <div class="region-box-content dashboard-component-content">
      <div class="col-md-12 filter-dashboard">
        <input type="text" class="form-control pull-right" placeholder="Search ..." ng-model="filterTeams">
      </div>
      <div class="col-md-12">
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="team in teams | filter: filterTeams">
            <a ng-href="/admin/team/{{team._id}}">{{team.name}}</a>
            <a ng-really-do="deleteTeam(team)" ng-really-message="Are you sure you want to delete the team: {{team.name}}?" class="list-group-action"><span class="glyphicon glyphicon-trash pull-right"></span></a>
          </li>
        </ul>
        <div class="separator"></div>
      </div>
    </div>
  </div>
  <div class="region-box dashboard-component">
    <div class="region-box-title">
      <label><i class="glyphicon glyphicon-align-center"></i> Judges</label>
      <a  class="region-box-action" ng-click="openAddJudge()"><i class="glyphicon glyphicon-plus" uib-tooltip="create a new judge" tooltip-placement="top"></i></a>
      <div class="region-box-spinner" ng-show="loadingJudges"></div>
    </div>
    <div class="region-box-content dashboard-component-content">
      <div class="col-md-12 filter-dashboard">
        <input type="text" class="form-control pull-right" placeholder="Search ..." ng-model="filterJudges">
      </div>
      <div class="col-md-12">
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="judge in judges | filter: filterJudges">
            <a ng-href="/admin/judge/{{judge._id}}">{{judge.name}}</a>
            <a ng-really-do="deleteJudge(judge)" ng-really-message="Are you sure you want to delete the judge: {{judge.name}}?" class="list-group-action"><span class="glyphicon glyphicon-trash pull-right"></span></a>
          </li>
        </ul>
        <div class="separator"></div>
      </div>
    </div>
  </div>
  <div class="region-box dashboard-component">
    <div class="region-box-title">
      <label><i class="glyphicon glyphicon-align-center"></i> Sponsors</label>
      <a  class="region-box-action" ng-click="openAddSponsor()"><i class="glyphicon glyphicon-plus" uib-tooltip="create a new sponsor" tooltip-placement="top"></i></a>
      <div class="region-box-spinner" ng-show="loadingSponsors"></div>
    </div>
    <div class="region-box-content dashboard-component-content">
      <div class="col-md-12 filter-dashboard">
        <input type="text" class="form-control pull-right" placeholder="Search ..." ng-model="filterSponsors">
      </div>
      <div class="col-md-12">
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="sponsor in sponsors | filter: filterSponsors">
            <a ng-href="/admin/sponsor/{{sponsor._id}}">{{sponsor.name}}</a>
            <a ng-really-do="deleteSponsor(sponsor)" ng-really-message="Are you sure you want to delete the sponsor: {{sponsor.name}}?" class="list-group-action"><span class="glyphicon glyphicon-trash pull-right"></span></a>
          </li>
        </ul>
        <div class="separator"></div>
      </div>
    </div>
  </div>
  <div class="region-box dashboard-component">
    <div class="region-box-title">
      <label><i class="glyphicon glyphicon-align-center"></i> Manoeuvres</label>
      <a  class="region-box-action" ng-click="openAddManoeuvre()"><i class="glyphicon glyphicon-plus" uib-tooltip="create a new manoeuvre" tooltip-placement="top"></i></a>
      <div class="region-box-spinner" ng-show="loadingManoeuvres"></div>
    </div>
    <div class="region-box-content dashboard-component-content">
      <div class="col-md-12 filter-dashboard">
        <input type="text" class="form-control pull-right" placeholder="Search ..." ng-model="filterManoeuvres">
      </div>
      <div class="col-md-12">
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="manoeuvre in manoeuvres | filter: filterManoeuvres">
            <a ng-href="/admin/manoeuvre/{{manoeuvre._id}}">{{manoeuvre.name}}</a>
            <a ng-really-do="deleteManoeuvre(manoeuvre)" ng-really-message="Are you sure you want to delete the manoeuvre: {{manoeuvre.name}}?" class="list-group-action"><span class="glyphicon glyphicon-trash pull-right"></span></a>
          </li>
        </ul>
        <div class="separator"></div>
      </div>


    </div>
  </div>
</div>
