<div class="modal-header">
  <h3 class="modal-title">Add a new Competition</h3>
</div>
<form name="frmAddCompetition" class="form-horizontal" novalidate role="form" ng-submit="addCompetition()">
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12 form-group">
        <div class="col-md-6" >
          <label>Event:</label>
          <div ng-show="selectedEvent">
            <input type="text" class="form-control" ng-model="selectedEvent.name" ng-readonly="true"/>
          </div>
          <div ng-hide="selectedEvent" ng-class="{ 'has-error' : frmAddCompetition.competitionEvent.$invalid && !frmAddCompetition.competitionEvent.$pristine }">
            <select class="form-control" ng-model="newCompetition.event" data-placeholder="Select an event" required name="competitionEvent">
              <option value="">Select an event</option>
              <option ng-repeat="event in events" value="{{event._id}}">{{event.name}}</option>
            </select>
            <small ng-show="frmAddCompetition.competitionEvent.$invalid && !frmAddCompetition.competitionEvent.$pristine" class="help-block">
              Event is required.
            </small>
          </div>
        </div>
        <div class="col-md-6" ng-class="{ 'has-error' : frmAddCompetition.competitionName.$invalid && !frmAddCompetition.competitionName.$pristine }">
          <label>Name:</label>
          <input type="text" class="form-control" placeholder="Type the competition name" ng-model="newCompetition.name" required
            name="competitionName" />
          <small ng-show="frmAddCompetition.competitionName.$invalid && !frmAddCompetition.competitionName.$pristine" class="help-block">
            Competition name is required.
          </small>
        </div>
      </div>
      <div class="col-md-12 form-group">
        <div class="col-md-6" ng-class="{ 'has-error' : frmAddCompetition.competitionCode.$invalid && !frmAddCompetition.competitionCode.$pristine }">
          <label>Code:</label>
          <input type="text" class="form-control" placeholder="Type the competition code" ng-model="newCompetition.code"
            name="competitionCode" ng-minlength="4" required/>
          <small ng-show="frmAddCompetition.competitionCode.$invalid && !frmAddCompetition.competitionCode.$pristine" class="help-block">
            Competition code is required (too short, min length is 4).
          </small>
        </div>
        <div class="col-md-6" >
          <label class="control-label">Type:</label>
          <div>
            <ng-radio-button-group class="btn-group" data-toggle="buttons-radio" model="newCompetition.type" options="competitionTypes" id="idPropertyType" name="namePropertyType" suffix="bootstrapSuffix"></ng-radio-button-group>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary actions-btn"  ng-disabled="frmAddCompetition.$invalid">
      <i class="glyphicon glyphicon-save"> Save</i>
    </button>
    <button type="button" class="btn btn-primary actions-btn" ng-click="cancel()">
      <i class="glyphicon glyphicon-remove"> Cancel</i>
    </button>
  </div>
</form>
