<div class="modal-header">
  <h3 class="modal-title">Competitors</h3>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-12 title-box">
      <label>Selected Competitors ({{selectedCompetitors.length}}):</label>
    </div>
    <div class="col-md-12  group-box border">
      <div class="item-box" ng-repeat="competitor  in selectedCompetitors">
        <label class="item-info" >
          {{competitor.name}}
        </label>
        <a ng-click="removeCompetitor(competitor)">
          <i class="glyphicon glyphicon-remove"></i>
        </a>
      </div>
      <div class="separator"></div>
    </div>
    <div class="col-md-12 competitors-box background-row">
      <div class="item-box competitor-box" ng-repeat="competitor  in availableCompetitors">
        <button ng-click="addCompetitor(competitor)">
          <!--<i class="glyphicon glyphicon-plus"></i>-->
          {{competitor.name}}
        </button>
      </div>
      <div class="separator"></div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" ng-click="addSubscriptions()" class="btn btn-primary actions-btn">
    <i class="glyphicon glyphicon-save"> Save</i>
  </button>
  <button type="button" class="btn btn-primary actions-btn" ng-click="cancel()">
    <i class="glyphicon glyphicon-remove"> Cancel</i>
  </button>
</div>
