<div class="modal-header">
  <h3 class="modal-title">Add a new Location</h3>
</div>
<form name="frmAddLocation" class="form-horizontal" novalidate role="form" ng-submit="addLocation()">
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12 form-group">
        <div class="col-md-12"
             ng-class="{ 'has-error' : frmAddLocation.locationName.$invalid && !frmAddLocation.locationName.$pristine }">
          <label>Name:</label>
          <input type="text" class="form-control" ng-model="newLocation.name" ng-required="true"
                 name="locationName"/>
          <small ng-show="frmAddLocation.locationName.$invalid && !frmAddLocation.locationName.$pristine" class="help-block">
            Name is required.
          </small>
        </div>
      </div>
      <div class="col-md-12 form-group">
        <div class="col-md-6"
             ng-class="{ 'has-error' : frmAddLocation.locationLatitude.$invalid && !frmAddLocation.locationLatitude.$pristine }">
          <label>Latitude:</label>
          <input type="text" class="form-control" ng-model="newLocation.latitude" ng-required="true"
                 name="locationLatitude"/>
          <small ng-show="frmAddLocation.locationLatitude.$invalid && !frmAddLocation.locationLatitude.$pristine" class="help-block">
            Latitude is required.
          </small>
          <small class="help-block"> ex: 40.712 or -74.227</small>
        </div>
        <div class="col-md-6"
             ng-class="{ 'has-error' : frmAddLocation.locationLongitude.$invalid && !frmAddLocation.locationLongitude.$pristine }">
          <label>Longitude:</label>
          <input type="text" class="form-control" ng-model="newLocation.longitude" ng-required="true"
                name="locationLongitude"/>
          <small ng-show="frmAddLocation.locationLongitude.$invalid && !frmAddLocation.locationLongitude.$pristine" class="help-block">
            Longitude is required.
          </small>
          <small class="help-block"> ex: 40.712 or -74.227</small>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-12 form-group">
          <label>Comment:</label>
          <input type="text" class="form-control" ng-model="newLocation.comment"/>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary actions-btn"  ng-disabled="frmAddLocation.$invalid">
      <i class="glyphicon glyphicon-save"> Save</i>
    </button>
    <button type="button" class="btn btn-primary actions-btn" ng-click="cancel()">
      <i class="glyphicon glyphicon-remove"> Cancel</i>
    </button>
  </div>
</form>
